
<h3>Consulat and Treasurer</h3><a href="/dashboard/reference/edit/reference/1">EDIT</a>
<hr />

<table cellpadding="4" cellspacing="4" width="600" border="2">
	<thead>
		<tr>
			<td><b>Counsellor Name</b></td>
			<td><%= @reference.consulat_name %></td>
		</tr>
		<tr>
			<td><b>Treasurer Name</b></td>
			<td><%= @reference.treasurer_name %></td>
		</tr>
		<tr>
			<td><b>Embassy Office</b></td>
			<td><%= @reference.embassy_location%></td>
		</tr>
	</thead>
</table>


<hr />
<h3>Visa Fees</h3>
<hr />

<table cellpadding="4" cellspacing="4" width="600" border="2">
	<thead>
		<% @visafee.each do |row| %>
		<tr>
			<td width="500"><b><%= row.name_of_visa %></b></td>
			<td>$<%= row.fee_of_visa %></td>
			<td><a href="/dashboard/reference/edit/visafee/<%= row.id %>">EDIT</a></td>
		</tr>		
		<% end %>
	</thead>
</table>

<hr />
<h3>Passport Fees</h3>
<hr />

<table cellpadding="4" cellspacing="4" width="600" border="2">
	<thead>
		<% @passportfee.each do |row| 
				sliced = row.passport_type
				sliced.slice! "passport_"					
				if row.passport_reason == 'hilang'					
					hilang = "(HILANG/RUSAK)"	
				else					
					hilang = ""
				end%>
		<tr>
			<td width="500"><b>SPRI <%= sliced %> HALAMAN <%= hilang %></b></td>
			<td>$<%= row.passport_fee %></td>
			<td><a href="/dashboard/reference/edit/passportfee/<%= row.id %>">EDIT</a></td>
		</tr>			
		<% end %>
	</thead>
</table>

<br /><br />
