<%= stylesheet_link_tag "/assets/css/dashboard/form.css" %>
			<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Visa Fee Update has failed. Check the Error below.</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
					<br />
				</div>
			<%end%>	
<%= simple_form_for @visafee, url: update_visafee_list_path, :method => :put, :html => { :class => "sky-form", :multipart => true } do |f| %>				
				<fieldset>					
					<div class="row">
						<section class="col col-6">
							<label class="label">Jenis Visa</label>
							<label class="input">
								<%= @visafee.name_of_visa %>							
							</label>
						</section>
						<section class="col col-6">
							<label class="label">Biaya</label>
							<label class="input">
								<%= f.input_field :fee_of_visa %>	
								<%= f.hidden_field :id, value: @visafee.id %>
								<%= f.hidden_field :type, value: 'visafee' %>						
							</label>
						</section>
					</div>					
				</fieldset>				
				<footer>
					<button type="submit" class="button">Simpan</button>
					<button type="button" class="button button-secondary" onclick="window.close();">Kembali</button>
				</footer>
<% end %>
