<ul class="main-navigation-menu">
						<li>
							<%= link_to dashboard_path do %>
								<i class="clip-home-3"></i>
								<span class="title"> Dashboard E-KBRI</span>
								<span class="selected"></span>
							<% end %>
						</li>
						<li class="active open">
							<%= link_to "#" do %>
								<i class="clip-screen"></i>
								<span class="title"> Pelayanan E-KBRI </span><i class="icon-arrow"></i>
								<span class="arrow "></span>
							<% end %>
							<ul class="sub-menu">								
								<li class="active open">
									<%= link_to "#" do %>
										<i class="fa fa-check-square"></i> 
										Keimigrasian <i class="icon-arrow"></i>
									<% end %>
									<ul class="sub-menu">
										<li>
											<%= link_to '/dashboard/service/passport' do %>
												<i class="fa fa-book"></i>
												Paspor
											<% end %>
										</li>												
										<li>
											<%= link_to '/dashboard/service/visa' do %>
												<i class="fa fa-briefcase"></i> Visa
											<% end %>
										</li>
										<li>
											<%= link_to '/dashboard/service/lapordiri' do %>
												<i class="fa fa-plane"></i> Lapor Diri
											<% end %>
										</li>
										
																					
									</ul>
									<%= link_to "#" do %>
										<i class="fa fa-check-square"></i> 
										Ketenagakerjaan <i class="icon-arrow"></i>
									<% end %>
									<ul class="sub-menu">
										<li><!-- '/dashboard/service/masalahwni' -->
											<%= link_to '/dashboard/masalahwni' do %>
												<i class="fa fa-book"></i>
												Masalah WNI
											<% end %>
										</li>												
									
									</ul>
								</li>								
							</ul>
						</li>		
						
						<li>
							<%= link_to "#" do %>
								<i class="clip-cogs"></i>
								<span class="title"> Panel Pengaturan </span><i class="icon-arrow"></i>
								<span class="arrow "></span>
							<% end %>
							<ul class="sub-menu">
								<!--								
								<li>
									<%= link_to "/dashboard/syncpanel" do %>
										<i class="clip-data"></i>
										<span class="title">Synchronization Panel </span>
										<span class="arrow "></span>
									<% end %>
								</li>	
								-->
								<li>
									<%= link_to "/dashboard/reference/list" do %>
										<i class="fa fa-exchange"></i>
										<span class="title">Referensi Data</span>
										<span class="arrow "></span>
									<% end %>
								</li>							
						     </ul>	
						</li>		
						
						<li class="active open">
							<%= link_to "#" do %>
								<i class="clip-screen"></i>
								<span class="title"> Rekapitulasi & Laporan </span><i class="icon-arrow"></i>
								<span class="arrow "></span>
							<% end %>
							<ul class="sub-menu">								
								<li>
									<%= link_to "/report/panel/periodical" do %>
										<i class="clip-bars"></i>
										<span class="title"> Basis Tanggal Pembayaran  </span>
										<span class="arrow "></span>
									<% end %>
								</li>	
								<li>
									<%= link_to "/report/panel/periodical_printed_based" do %>
										<i class="clip-bars"></i>
										<span class="title"> Basis Tanggal Pencetakan </span>
										<span class="arrow "></span>
									<% end %>
								</li>							
							</ul>
							
						</li>
						<li>
							<%= link_to users_path do %>
								<i class="clip-users"></i>
								<span class="title"> Manajemen User </span>
								<span class="arrow "></span>
							<% end %>	
						</li>
						<li>
							<%= link_to '/dashboard/service/journal' do %>
								<i class="clip-wrench"></i>
								<span class="title"> Journals </span>
								<span class="arrow "></span>
							<% end %>	
						</li>	
						<% if current_user.has_role? :admin %>
						<li>
							<%= link_to dashboard_statistics_path do %>
								<i class="clip-stats"></i>
								<span class="title"> Performa & Statistik </span>
								<span class="arrow "></span>
							<% end %>	
						</li>
						<% end %>

						
</ul>