<ul class="main-navigation-menu">
						<li class="active open">
							<%= link_to dashboard_path do %>
								<i class="clip-home-3"></i>
								<span class="title"> Dashboard E-KBRI</span>
								<span class="selected"></span>
							<% end %>
						</li>
						<li>
							<%= link_to "#" do %>
								<i class="clip-screen"></i>
								<span class="title"> Pelayanan E-KBRI </span><i class="icon-arrow"></i>
								<span class="arrow "></span>
							<% end %>
							<ul class="sub-menu">								
								<li>
									<%= link_to "#" do %>
										<i class="fa fa-check-square"></i> 
										Imigrasi <i class="icon-arrow"></i>
									<% end %>
									<ul class="sub-menu">
										<li>
											<%= link_to "#" do %>
												<i class="fa fa-book"></i>
												Dokumen Travel<i class="icon-arrow"></i>
											<% end %>
											<ul class="sub-menu">
												<li>
													<%= link_to '/dashboard/service/passport' do %>
														<i class="fa fa-book"></i>
														Paspor
													<% end %>
												</li>
												<li>
													<%= link_to '/dashboard/service/passport' do %>
													  	<i class="fa fa-book"></i>
														SPLP
													<% end %>
												</li>
											</ul>
										</li>
										<li>
											<%= link_to '/dashboard/service/visa' do %>
												<i class="fa fa-file-text-o"></i> Aplikasi Visa
											<% end %>
										</li>										
									</ul>
								</li>								
							</ul>
						</li>					
						<li>
							<%= link_to "/dashboard/syncpanel" do %>
								<i class="clip-data"></i>
								<span class="title">Synchronization Panel </span>
								<span class="arrow "></span>
							<% end %>
						</li>
						<li>
							<%= link_to "#" do %>
								<i class="clip-bars"></i>
								<span class="title"> Laporan Berkala </span>
								<span class="arrow "></span>
							<% end %>
						</li>
						
</ul>