<div class="body" style="padding-top: 20px;">
<div style="text-align: center;">
  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'sky-form' }) do |f| %>
  <header>Registration Form for E-KBRI Account</header>
  <fieldset>
	<div class="row">
		<section class="col col-4">
		  <label class="label">Who are you?</label>
		  <label class="select">
		    <%= f.input_field :individual, collection: { 'Personal Applicant' => 'true', 'Travel Agency' => 'false' } %>
		  <i></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">First Name</label>
	      <label class="input">
		    <%= f.input_field :first_name %>
		    <i class="icon-append icon-user"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Last Name</label>
	      <label class="input">
  		    <%= f.input_field :last_name %>
  		    <i class="icon-append icon-user"></i>
  		  </label>
		</section>
	</div>
  </fieldset>
  
    <fieldset>
  	<div class="row">
		<section class="col col-4">
		  <label class="label">Email</label>
		  <label class="input">
		    <%= f.input_field :email, :required => true %>
		    <i class="icon-append icon-envelope"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Password</label>
	      <label class="input">
		    <%= f.input_field :password, :required => true %>
		    <i class="icon-append icon-lock"></i>
		  </label>
		  <div class="note"><strong>Note:</strong> Please write your country of origin if you are NOT Indonesian.</div>
		</section>
		<section class="col col-4">
		  <label class="label">Password Confirmation</label>
	      <label class="input">
  		    <%= f.input_field :password_confirmation, :required => true %>
  		    <i class="icon-append icon-lock"></i>
  		  </label>
		</section>
	</div>
  </fieldset>
  
  <fieldset>
	<div class="row">
		<section class="col col-3">
		  <label class="label">Are you Indonesian?</label>
		  <label class="select">
		    <%= f.input_field :citizenship, collection: { 'Indonesian' => 'true', 'Foreigner' => 'false' } %>
		  <i></i>
		  </label>
		</section>
		<section class="col col-3">
		  <label class="label">Country of Origin</label>
	      <label class="input">
		    <%= f.input_field :origin %>
		    <i class="icon-append icon-globe"></i>
		  </label>
		  <div class="note"><strong>Note:</strong> Please write your country of origin if you are NOT Indonesian.</div>
		</section>
		<section class="col col-3">
		  <label class="label">Passport No.</label>
	      <label class="input">
  		    <%= f.input_field :passport %>
  		    <i class="icon-append icon-book"></i>
  		  </label>
		</section>
		<section class="col col-3">
		  <label class="label">Alien Card No.</label>
	      <label class="input">
  		    <%= f.input_field :id_card %>
  		    <i class="icon-append icon-book"></i>
  		  </label>
		</section>
	</div>
  </fieldset>
  
  <footer>
	<button type="submit" class="button">Sign Up</button>
	<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
  </footer>
  <fieldset>&copy; 2013-2014 by The Embassy of Republic of Indonesia in Seoul. All Rights Reserved.</fieldset>
<% end %>
</div>
