<div class="body" style="padding-top: 20px;">
<div style="text-align: center;">
  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
</div>
<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Registration Failed. Please check messages below</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
				</div>
			<%end%>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'sky-form' }) do |f| %>
  <header>Registration Form for E-KBRI Account</header>
  <fieldset>
	<div class="row">
		<section class="col col-4">
		  <label class="label">Who are you?</label>
		  <label class="select">
		    <%= f.input_field :individual, collection: { 'Personal Applicant' => 'true', 'Travel Agency' => 'false' } %>
		  <i></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">First Name</label>
	      <label class="input">
		    <%= f.input_field :first_name, :html => { :class => 'hurufBesar' } %>
		    <i class="icon-append icon-user"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Last Name</label>
	      <label class="input">
  		    <%= f.input_field :last_name, :html => { :class => 'hurufBesar' } %>
  		    <i class="icon-append icon-user"></i>
  		  </label>
		</section>
	</div>
  </fieldset>
  
    <fieldset>
  	<div class="row">
		<section class="col col-4">
		  <label class="label">Email</label>
		  <label class="input">
		    <%= f.input_field :email, :required => true %>
		    <i class="icon-append icon-envelope"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Password</label>
	      <label class="input">
		    <%= f.input_field :password, :required => true %>
		    <i class="icon-append icon-lock"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Password Confirmation</label>
	      <label class="input">
  		    <%= f.input_field :password_confirmation, :required => true %>
  		    <i class="icon-append icon-lock"></i>
  		  </label>
  		  <div class="note"><strong>Note:</strong> Please provide MINIMUM 8 (eight) alphanumeric latin characters with at least one letter, one number out of min. 8.</div>
		</section>
	</div>
  </fieldset>
  
  <fieldset>
	<div class="row">
		<section class="col col-3">
		  <label class="label">Are you Indonesian?</label>
		  <label class="select">
		    <%= f.input_field :citizenship, collection: { 'Yes' => 'true', 'No' => 'false' } %>
		  <i></i>
		  </label>
		</section>
		<section class="col col-3">
			<label class="label">Country of Origin</label>
			<label class="select">
				<%= f.input_field :origin, 
								collection: {									
									'AFGANISTAN'=>'AFG',
									'ALAND ISLANDS'=>'ALA',
									'ALBANIA'=>'ALB',
									'ALGERIA'=>'DZA',
									'AMERICAN SAMOA'=>'ASM',
									'ANDORRA'=>'AND',
									'ANGOLA'=>'AGO',
									'ANGUILLA'=>'AIA',
									'ANTARTICA'=>'ATA',
									'ANTIGUA AND BARBUDA'=>'ATG',
									'ARGENTINA'=>'ARG',
									'ARMENIA'=>'ARM',
									'ARUBA'=>'ABW',
									'AUSTRALIA'=>'AUS',
									'AUSTRIA'=>'AUT',
									'AZERBAIJAN'=>'AZE',
									'BAHAMAS'=>'BHS',
									'BAHRAIN'=>'BHR',
									'BANGLADESH'=>'BGD',
									'BARBADOS'=>'BRB',
									'BELARUS'=>'BLR',
									'BELGIUM'=>'BEL',
									'BELIZE'=>'BLZ',
									'BENIN'=>'BEN',
									'BERMUDA'=>'BMU',
									'BHUTAN'=>'BTN',
									'BOLIVIA'=>'BOL',
									'BOSNIA AND HERZEGOVINA'=>'BIH',
									'BOSTWANA'=>'BWA',
									'BOUVLET ISLAND'=>'BVT',
									'BRAZIL'=>'BRA',
									'BRITISH INDIAN OCEAN TERRITORY'=>'IOT',
									'BRITISH VIRGIN ISLANDS'=>'VGB',
									'BRUNAI DARUSSALAM'=>'BRN',
									'BULGARIA'=>'BGR',
									'BURKINA FASO'=>'BFA',
									'BURUNDI'=>'BDI',
									'CAMBODIA'=>'KHM',
									'CAMEROON'=>'CMR',
									'CANADA'=>'CAN',
									'CAPE VERDE'=>'CPV',
									'CAYMAN ISLAND'=>'CYM',
									'CENTRAL AFRICAN REPUBLIC'=>'CAF',
									'CHAD'=>'TCD',
									'CHILE'=>'CHL',
									'CHRISTMAS ISLAND'=>'CXR',
									'COCOS (KEELING) ISLAND'=>'CCK',
									'COLOMBIA'=>'COL',
									'COMOROS'=>'COM',
									'COOK ISLAND'=>'COK',
									'COSTA RICA'=>'CRI',
									'COTE D IVOIRE'=>'CIV',
									'CROATIA'=>'HRV',
									'CUBA'=>'CUB',
									'CYPRUS'=>'CYP',
									'CZECH REPUBLIC'=>'CZE',
									'DEMOCRATIC REPUBLIC OF THE CONGO'=>'COD',
									'DENMARK'=>'DNK',
									'DJIBOUTI'=>'DJI',
									'DOMINICA'=>'DMA',
									'DOMINICAN REPUBLIC'=>'DOM',
									'ECUADOR'=>'ECU',
									'EGYPT'=>'EGY',
									'EL SALVADOR'=>'SLV',
									'EQUATORIAL GUINEA'=>'GNQ',
									'ERITREA'=>'ERI',
									'ESTONIA'=>'EST',
									'ETHIOPIA'=>'ETH',
									'FALKLAND ISLANDS'=>'FLK',
									'FAROE ISLAND'=>'FRO',
									'FEDERATES STATES OF MICRONESIA'=>'FSM',
									'FIJI'=>'FJI',
									'FINLAND'=>'FIN',
									'FRANCE'=>'FRA',
									'FRENCH GUIANA'=>'GUF',
									'FRENCH POLYNESIA'=>'PYF',
									'FRENCH SOUTHERN TERRITORIES'=>'ATF',
									'GABON'=>'GAB',
									'GAMBIA'=>'GMB',
									'GEORGIA'=>'GEO',
									'GERMANY'=>'DEU',
									'GHANA'=>'GHA',
									'GILBRALTAR'=>'GIB',
									'GREECE'=>'GRC',
									'GREENLAND'=>'GRL',
									'GRENADA'=>'GRD',
									'GUADELOUPE'=>'GLP',
									'GUAM'=>'GUM',
									'GUATEMALA'=>'GTM',
									'GUERNSEY'=>'GGY',
									'GUINEA'=>'GIN',
									'GUINEA-BISSAU'=>'GNB',
									'GUYANA'=>'GUY',
									'HAITI'=>'HTI',
									'HEARD ISLAND AND MCDONALD ISLANDS'=>'HMD',
									'HONDURAS'=>'HND',
									'HONGKONG'=>'HKG',
									'HUNGARY'=>'HUN',
									'ICELAND'=>'ISL',
									'INDIA'=>'IND',
									'INDONESIA'=>'IDN',
									'IRAN ISLAMIC REPUBLIC OF'=>'IRN',
									'IRAQ'=>'IRQ',
									'ISLE OF MAN'=>'IMN',
									'ISRAEL'=>'ISR',
									'ITALY'=>'ITA',
									'JAMAICA'=>'JAM',
									'JAPAN'=>'JPN',
									'JERSEY'=>'JEY',
									'JORDAN'=>'JOR',
									'KAZAKHSTAN'=>'KAZ',
									'KENYA'=>'KEN',
									'KIRIBATI'=>'KIR',
									'KOREA DEMOCRATIC PEOPLE REPUBLIC OF'=>'PRK',
									'KOREA REPUBLIC OF'=>'KOR',
									'KUWAIT'=>'KWT',
									'KYRGYZSTAN'=>'KGZ',
									'LAO PEOPLE DEMOCRATIC REPUBLIC'=>'LAO',
									'LATVIA'=>'LVA',
									'LEBANON'=>'LBN',
									'LESOTHO'=>'LSO',
									'LIBERIA'=>'LBR',
									'LIBYAN ARAB JAMAHIRIYA'=>'LBY',
									'LIECHSTENSTEIN'=>'LIE',
									'LITHUANIA'=>'LTU',
									'LUXEMBOURG'=>'LUX',
									'MACAO'=>'MAC',
									'MADAGASCAR'=>'MDG',
									'MALAWI'=>'MWI',
									'MALAYSIA'=>'MYS',
									'MALDIVES'=>'MDV',
									'MALI'=>'MLI',
									'MALTA'=>'MLT',
									'MAROCCO'=>'MAR',
									'MARSHALL ISLAND'=>'MHL',
									'MARTINIQUE'=>'MTQ',
									'MAURITANIA'=>'MRT',
									'MAURITIUS'=>'MUS',
									'MAYOTTE'=>'MYT',
									'MEXICO'=>'MEX',
									'MOLDOVA'=>'MDA',
									'MONACO'=>'MCO',
									'MONGOLIA'=>'MNG',
									'MONTENEGRO'=>'MNE',
									'MONTSERRAT'=>'MSR',
									'MOZAMBIQUE'=>'MOZ',
									'MYANMAR'=>'MMR',
									'NAMIBIA'=>'NAM',
									'NAURU'=>'NRU',
									'NEPAL'=>'NPL',
									'NETHERLANDS ANTILLES'=>'ANT',
									'NETHERLANDS'=>'NLD',
									'NEW CALEDONIA'=>'NCL',
									'NEW ZEALAND'=>'NZL',
									'NICARAGUA'=>'NIC',
									'NIGER'=>'NER',
									'NIGERIA'=>'NGA',
									'NIUE'=>'NIU',
									'NORFOLK ISLAND'=>'NFK',
									'NORTHERN MARIANA ISLAND'=>'MNP',
									'NORWAY'=>'NOR',
									'OMAN'=>'OMN',
									'PAKISTAN'=>'PAK',
									'PALAU'=>'PLW',
									'PALESTINIAN TERRITORY - OCCUPIED'=>'PSE',
									'PANAMA'=>'PAN',
									'PAPUA NEW GUINEA'=>'PNG',
									'PARAGUAY'=>'PRY',
									'PEOPLE REPUBLIC OF CHINA'=>'CHN',
									'PERU'=>'PER',
									'PHILIPPINES'=>'PHL',
									'PITCAIRN'=>'PCN',
									'POLAND'=>'POL',
									'PORTUGAL'=>'PRT',
									'PUERTO RICO'=>'PRI',
									'QATAR'=>'QAT',
									'REPUBLIC OF CHINA (TAIWAN)'=>'TWN',
									'REPUBLIC OF IRELAND'=>'IRL',
									'REPUBLIC OF MACEDONIA'=>'MKD',
									'REPUBLIC OF THE CONGO'=>'COG',
									'REUNION'=>'REU',
									'ROMANIA'=>'ROU',
									'RUSSIAN FEDERATION'=>'RUS',
									'RWANDA'=>'RWA',
									'SAINT BARTHêLEMY'=>'BLM',
									'SAINT HELENA'=>'SHN',
									'SAINT KITTS AND NEVIS'=>'KNA',
									'SAINT LUCIA'=>'LCA',
									'SAINT MARTIN (FRENCH PART)'=>'MAF',
									'SAINT VINCENT AND THE GRENADINES'=>'VCT',
									'SAINT-PIERRE AND MIQUELON'=>'SPM',
									'SALOMON ISLAND'=>'SLB',
									'SAMOA'=>'WSM',
									'SAN MARINO'=>'SMR',
									'SAO TOME AND PRINCIPE'=>'STP',
									'SAUDI ARABIA'=>'SAU',
									'SENEGAL'=>'SEN',
									'SERBIA'=>'SRB',
									'SEYCHELLES'=>'SYC',
									'SIERRA LEONE'=>'SLE',
									'SINGAPORE'=>'SGP',
									'SLOVAKIA'=>'SVK',
									'SLOVENIA'=>'SVN',
									'SOMALIA'=>'SOM',
									'SOUTH AFRICA'=>'ZAF',
									'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLAND'=>'SGS',
									'SPAIN'=>'ESP',
									'SRI LANKA'=>'LKA',
									'SUDAN'=>'SDN',
									'SURINAME'=>'SUR',
									'SVALBARD AND JAN MAYEN'=>'SJM',
									'SWAZILAND'=>'SWZ',
									'SWEDEN'=>'SWE',
									'SWITZERLAND'=>'CHE',
									'SYRIAN ARAB REPUBLIC'=>'SYR',
									'TAJIKISTAN'=>'TJK',
									'TANZANIA'=>'TZA',
									'THAILAND'=>'THA',
									'TIMOR LESTE'=>'TLS',
									'TOGO'=>'TGO',
									'TOKELAU'=>'TKL',
									'TONGA'=>'TON',
									'TRINIDAD AND TOBAGO'=>'TTO',
									'TUNISIA'=>'TUN',
									'TURKEY'=>'TUR',
									'TURKMENISTAN'=>'TKM',
									'TURKS AND CAICOS ISLANDS'=>'TCA',
									'TUVALU'=>'TUV',
									'U.S. VIRGIN ISLANDS'=>'VIR',
									'UGANDA'=>'UGA',
									'UKRAINE'=>'UKR',
									'UNITED ARAB EMIRATES'=>'ARE',
									'UNITED KINGDOM'=>'GBR',
									'UNITED STATES MINOR OUTLYING ISLANDS'=>'UMI',
									'UNITED STATES'=>'USA',
									'URUGUAY'=>'URY',
									'UZBEKISTAN'=>'UZB',
									'VANUATU'=>'VUT',
									'VATICAN CITY'=>'VAT',
									'VENEZUELA'=>'VEN',
									'VIETNAM'=>'VNM',
									'WALLIS AND FUTUNA'=>'WLF',
									'WESTERN SAHARA'=>'ESH',
									'YEMEN'=>'YEM',
									'ZAMBIA'=>'ZMB',
									'ZIMBABWE'=>'ZWE'
									}, :selected => 'IDN' %>
								<i></i>
				</label>
				<div class="note"><strong>Note:</strong> 
				Please declare your country of origin if you are
				NOT Indonesian/holding Indonesian Citizenship.</div>
		</section>
		<section class="col col-3">
		  <label class="label">Passport No.</label>
	      <label class="input">
  		    <%= f.input_field :passport %>
  		    <i class="icon-append icon-book"></i>
  		  </label>
		</section>
		<section class="col col-3">
		  <label class="label">Alien Card No.</label>
	      <label class="input">
  		    <%= f.input_field :id_card %>
  		    <i class="icon-append icon-book"></i>
  		  </label>
  		  <div class="note">
  		  	<strong>Note:</strong> Please take note that The Embassy of Republic of Indonesia only provide consular services 
  		  	to Indonesians/Koreans/Foreigners living in Korea with official residency status issued by Immigration of Republic of Korea.</div>
		</section>
	</div>
  </fieldset>
  
  <fieldset>
  	<div>Please kindly be reminded that upon agreeing to create an account in e-KBRI, 
  		you hereby explicitly grant permission to us to monitor, observe, and log
  		your personal data, like IP address and geolocation for security monitoring purposes.
  		We will not use data collected through e-KBRI beyond that purpose under whatsoever circumstances.
  		</div>
  </fieldset>
  

  <fieldset>
	<section class="col col-6">
		<div class="note">Please type code below:</div>					
		<label class="input">
			<%= show_simple_captcha %>
		</label>
	</section>
  </fieldset>
  
  <fieldset>
  	<p>If the email you wish to register has been taken,you won't be able to register. Maybe you already have an account but <b>forget your own account's password? </b></p>
  	<p>You can reset password through <%= link_to "Reset my password.", new_password_path(resource_name) %> Upon clicking "Reset my password", please check your e-mail 
  	   and follow the link to reset your password to eKBRI instead of registering new account.</p>
  </fieldset>
  
  <footer>
	<button type="submit" class="button">Sign Up</button>
	<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
  </footer>  
<% end %>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript">
	$(function()
		{
				$('input:checkbox .hurufBesar').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
				$('textarea').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
		});			
</script>
