<h2>Daftar Akun E-KBRI</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>

  <%= f.input :first_name, :autofocus => true %>
  <%= f.input :last_name %>
  <%= f.input :email, :required => true %>
  <%= f.input_field :citizenship, 
	  collection: { 'Indonesian' => 'true', 'Foreigner' => 'false' } %>
  <%= f.input :citizenship_country, priority: [ "South Korea" ] %>
  <%= f.input_field :individual, 
	  collection: { 'Personal' => 'true', 'Travel Agency' => 'false' } %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <br />
  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
