<div class="body" style="padding-top: 20px;">
			<div style="text-align: center;">
			  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
			</div>
			
			<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Laporan Gagal. Silahkan cek pesan dibawah ini</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
					<br />
					Silahkan Upload File - File anda kembali jika ada.
				</div>
			<%end%>	
				
			<!-- Red color scheme -->
			<%= simple_form_for @case, url: case_path(@case), :method => :patch, :html => { :class => "sky-form", :multipart => true } do |f| %>
				<header>Rekap Laporan Individual Permasalahan WNI di Korea Selatan</header>				
				<fieldset>
					<div class="row">
						<section class="col col-3">
							<label class="label"><b>Jenis Masalah</b></label>
							<%= @case.case_type.upcase %>
							</label>
						</section>
						<% if current_user.has_role? :admin or :moderator %>
						<section class="col col-3">
							<label class="label"><b>Status Masalah</b></label>
							<%= @case.status.capitalize %>
						</section>
						<section class="col col-6">
							<label class="label"><b>Konklusi Masalah</b></label>
							<%= @case.case_remarks.capitalize %>				
						</section>
						<% end %>
					</div>
					
					<div class="row">
						<section class="col col-9">
							<label class="label"><b>Deskripsi Masalah</b></label>
							<%= @case.case_description.capitalize %>				
						</section>
						
						<% if current_user.has_role? :admin or :moderator %>
						<section class="col col-3">
							<label class="label"><b>Staff KBRI</b></label>
							<%= @case.case_embassy_staff_name.titleize %>
						</section>
						<% end %>
					</div>	
					
					<% if current_user.has_role? :admin or :moderator %>
					<div class="row">
						<h4>Informasi Penanganan</h4>
						<hr /><br />
						<section class="col col-6">
							<label class="label"><b>Bantuan KBRI saat Masalah</b></label>
							<%= @case.case_embassy_on_assistance.capitalize %>				
						</section>
						
						<section class="col col-6">
							<label class="label"><b>Bantuan KBRI sesudah Masalah</b></label>
							<%= @case.case_embassy_post_assistance.capitalize %>				
						</section>
					</div>
					<% end %>
									
				</fieldset>
				
				<fieldset>
					<h3>Profil WNI Bermasalah</h3>	
					<hr /><br />
					<div class="row">
						<section class="col col-4">
							<label class="label"><b>Nama Lengkap</b></label>
							<%= @case.full_name.titleize %>
						</section>	
						<section class="col col-2">
							<label class="label"><b>Jenis Kelamin</b></label>
							<%= @case.gender.upcase %>
						</section>							
						
						<section class="col col-3">
							<label class="label"><b>Tempat Lahir</b></label>	
							<%= @case.place_birth.capitalize %>
						</section>

						<section class="col col-3">
							<label class="label"><b>Tanggal Lahir</b></label>	
							<%= @case.date_birth %>
							<div class="note"><strong>Format : </strong>YYYY/MM/DD</div>
						</section>
		
					</div>	
					
					<div class="row">
						
						<section class="col col-3">
							<label class="label"><b>Nomor Paspor</b></label>	
							<%= @case.passport_no.upcase %>
						</section>
						
						<section class="col col-3">
							<label class="label"><b>Tanggal Terbit Paspor</b></label>
							<%= @case.passport_date_from %>
							<div class="note"><strong>Format : </strong>YYYY/MM/DD</div>
						</section>
						
						<section class="col col-3">
							<label class="label"><b>Tanggal Habis Berlaku Paspor</b></label>
							<%= @case.passport_date_to %>
							<div class="note"><strong>Format : </strong>YYYY/MM/DD</div>
						</section>					
						
						
						<section class="col col-3">
							<label class="label"><b>Kantor Imigrasi</b></label>
							<%= @case.passport_place %>							
						</section>
						
					</div>				
				</fieldset>
				
				<fieldset>
					<h3>Alamat & Keluarga di Indonesia</h3>	
					<hr /><br />
					<div class="row">
				    
						<section class="col col-6">
							<label class="label"><b>Alamat di Indonesia</b></label>
							<%= @case.address_id.titleize %>
						</section>
						
						<section class="col col-6">
							<label class="label"><b>Kelurahan/Desa</b></label>
							<%= @case.kelurahan_id.titleize %>
						</section>
					
				    </div>
				    
				    <div class="row">
						
						<section class="col col-3">
							<label class="label"><b>Kecamatan</b></label>
							<%= @case.kecamatan_id.titleize %>
						</section>
						
						<section class="col col-3">
							<label class="label"><b>Kabupaten/Kota</b></label>
							<%= @case.kabupaten_id.titleize %>
					   	</section>
					  
					   <section class="col col-3">
						 <label class="label"><b>Propinsi</b></label>
						 <%= @case.provinsi_id.titleize %>
					   </section>
					
					   <section class="col col-3">
							<label class="label"><b>No Telepon di Indonesia</b></label>
							<%= @case.phone_id %>
					   </section>
					</div>
				</fieldset>
				
				<fieldset>
					<h3>Detail di Korea</h3>	
					<hr /><br />
					<div class="row">
						<section class="col col-4">
							<label class="label"><b>Pekerjaan di Korea</b></label>
							<%= @case.visa_kr.upcase %>
						</section>
						
						<section class="col col-4">
							<label class="label"><b>Keterangan Pekerjaan</b></label>
							<%= @case.visa_kr_type.capitalize %>
						</section>
						
						<section class="col col-4">
							<label class="label"><b>No Telepon di Korea</b></label>
							<%= @case.phone_kr %>
						</section>
						
				  </div>
					
					<div class="row">
						<section class="col col-6">
							<label class="label"><b>Alamat Tinggal di Korea</b></label>
							<%= @case.address_kr.capitalize %>						
						</section>
						
						<section class="col col-3">
							<label class="label"><b>Kota</b></label>
							<%= @case.city_kr.capitalize %>
						</section>
						
						<section class="col col-3">
							  <label class="label"><b>Propinsi</b></label>
							  <%= @case.province_kr.capitalize %>							
						</section>

					</div>

				</fieldset>		
				
				<fieldset>
					<h3>Detail Perusahaan/Institusi/Sekolah</h3>	
					<hr /><br />
					<div class="row">
						<section class="col col-6">
							<label class="label"><b>Nama Perusahaan/Sekolah/Instansi</b></label>
							<%= @case.company_kr.capitalize %>				
						</section>
						
						<section class="col col-6">
							<label class="label"><b>Alamat Perusahaan/Sekolah/Instansi</b></label>
							<%= @case.company_address_kr %>				
						</section>
					</div>	
					
					<div class="row">
						<section class="col col-3">
							<label class="label"><b>Kota</b></label>
							<%= @case.company_city_kr.capitalize %>
						</section>
						
						<section class="col col-3">
							  <label class="label"><b>Propinsi</b></label>
							  <%= @case.company_province_kr.capitalize %>							
						</section>
						
						<section class="col col-6">
							<label class="label"><b>No Telepon Perusahaan/Sekolah/Instansi</b></label>
							<%= @case.company_phone_kr %>
						</section>
						
					</div>	
				</fieldset>
				
				<fieldset>
				<% if @case.case_embassy_supporting_photo.exists? && (current_user.has_role? :admin or current_user.has_role? :moderator) %>
				    <section class="col col-4">
				    	<label class="label">Foto dari KBRI</label>
							<%= image_tag @case.case_embassy_supporting_photo.url(:thumb) %>
							<% if current_user.has_role? :admin or current_user.has_role? :moderator %>
								<%= link_to 'Download', @case.case_embassy_supporting_photo.url(:original, false), target: "_blank" %>
							<%end%>
					</section>
				<% end %>
				<% if @case.case_embassy_supporting_doc.exists? && (current_user.has_role? :admin or current_user.has_role? :moderator) %>
				    <section class="col col-4">
				    	<label class="label">Dokumen dari KBRI</label>
							<%= image_tag("/assets/images/doc.gif", height: '120', width: '120') %>
							<% if current_user.has_role? :admin or current_user.has_role? :moderator %>
								<%= link_to 'Download', @case.case_embassy_supporting_doc.url(:original, false), target: "_blank" %>
							<%end%>
					</section>
				<% end %>
				<% if @case.case_user_supporting_doc.exists? %>
				    <section class="col col-4">
				    	<label class="label">Foto dari Pelapor</label>
							<%= image_tag @case.case_user_supporting_doc.url(:thumb) %>
							<% if current_user.has_role? :admin or current_user.has_role? :moderator %>
								<%= link_to 'Download', @case.case_user_supporting_doc.url(:original, false), target: "_blank" %>
							<%end%>
					</section>
				<% end %>
				<% if (!@case.case_embassy_supporting_photo.exists? && !@case.case_embassy_supporting_doc.exists?) and !@case.case_user_supporting_doc.exists? %>
					<!--
					<section class="col col-6">
							<label class="label"><b>Foto atau Dokumen Pendukung</b></label>
							<label for="file" class="input input-file">
								<div class="button">									
									<%= f.input_field :case_user_supporting_doc, as: :file, class: 'fileplaceholder' %>Unggah</div>
									<input type="text" name="userdocpath" readonly="readonly" />
							</label>
							<div class="note">
								<strong>Catatan : </strong>Ukuran Maks. 2MB<br />
							</div>
					</section>	
					<section class="col col-6">
							<label class="label"><b>Foto atau Dokumen Pendukung (oleh staff KBRI)</b></label>
							<label for="file" class="input input-file">
								<div class="button">									
									<%= f.input_field :case_embassy_supporting_doc, as: :file, class: 'fileplaceholder' %>Unggah</div>
									<input type="text" name="embassydocpath" readonly="readonly" />
							</label>
							<div class="note">
								<strong>Catatan : </strong>Ukuran Maks. 2MB<br />
							</div>
					</section>	
					-->
					<section class="col col-6"><label class="label"><b>Foto atau Dokumen Pendukung tidak ditemukan.</b></label></section>
				<% end %>
				</fieldset>
				
				<fieldset style="text-align:justify;">
				<!-- 
					<h4>Disclaimer</h4>
					<hr /><br />
					<p>Dengan mengisi form ini Saya menyatakan bahwa semua data yang diisikan merupakan informasi yang sebenar-benarnya. 
						Segala kesalahan informasi yang dapat menyebabkan kerugian adalah tanggung jawab Saya dan tidak dapat di tangguhkan pada pihak lain. 
						KBRI Seoul dan staff terkait dapat menolak/meminta perubahan data dan informasi terkait permohonan jika tidak sesuai dengan syarat dan ketentuan.
					</p>
				-->
				</fieldset>
				

				<footer>
					<button type="button" class="button button-primary" onclick="window.print(); return false;">Print Dokumen Ini</button>
					<button type="button" class="button button-secondary" onclick="window.close();">Tutup Dokumen Ini</button>
					<button type="button" class="button button-secondary" onclick="location.href='<%= site_url %>';">Kembali ke Panel Utama</button>
					<button type="button" class="button button-primary" onclick="location.href='<%= edit_case_path %>';">Edit Ulang Dokument Ini</button>
				</footer>
			<% end %>
			<!--/ Red color scheme -->			
</div>

<script type="text/javascript">
			$(function()
			{
				$('input[type=text]').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
				//$('textarea').keyup(function() {
				//    $(this).val($(this).val().toUpperCase());
				//});
				$('#passport_application_reason').change(function(){
					if($(this).val() == 'lainnya'){
						$('#pasporsebelumnya').hide();						
					}else{												
						$('#pasporsebelumnya').show();
					}
				});	
				// Regular datepicker
				$('.datePick').datepicker({
					dateFormat: 'yy/mm/dd',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>',
					changeMonth: true,
      				changeYear: true,
      				yearRange: '1900:2040'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
				
			});			
</script>