<div class="body" style="padding-top: 20px;">
			<div style="text-align: center;">
			  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
			</div>
			<!-- Red color scheme -->
			<form class="sky-form">
				<header>
					&nbsp;
					<button type="button" class="button button-secondary" onclick="window.location.href = '<%= marriage_index_path %>';">Form Surat Keterangan Nikah sesama WNI</button>
					<button type="button" class="button button-secondary" onclick="window.location.href = '<%= marriage_index_path %>';">Form Surat Keterangan Nikah WNI - WNA</button>
				</header>
				<fieldset>
					<h1>SURAT KETERANGAN UNTUK MENIKAH DI KOREA SELATAN</h1>
					<br />
				<p align="justify">
					Setiap pemohon diharuskan mengisi form yang disediakan sesuai dengan calon pasangan yang akan dinikahi (WNI/WNA). Lampiran menyesuaikan jenis pernikahan yang akan dilakukan.<br />
					Setelah mengisi form, staff KBRI akan melakukan pengecekan yang kira - kira memakan waktu sekitar <i>3 hari</i>. Setelah mendapatkan notifikasi, silahkan datang ke KBRI untuk mengambil surat keterangan yang telah siap.
				</p>		
				<br />
				<ul>
					<li>Surat keterangan menikah diberikan kepada Warga Negara Indonesia, yang akan menikah dengan Warga Negara Korea Selatan/Warga Negara Asing lainnya, dan akan melaksanakan pernikahan di Korea Selatan.</li>
					<li>Surat keterangan menikah diberikan kepada Warga Negara Indonesia, yang akan menikah dengan Warga Negara Indonesia dan akan melaksanakan pernikahan di Korea Selatan</li>
					<li>Untuk Pemohon Warga Negara Indonesia yang belum mencapai usia 21 tahun, harus melengkapi dengan surat ijin orang tua</li>
					<li>Untuk pemohon Warga Negara Indonesia, laki-laki yang belum berusia 19 tahun dan Perempuan 16 tahun harus melengkapi dengan surat dari Pengadilan Agama</li>
					<li>Bila pemohon berpindah agama harus melengkapi dengan surat pindah agama yang disahkan oleh Kelurahan.</li>		
				</ul>
				<br />
				<p>
					Surat Keterangan untuk menikah dari Indonesia/Korea Selatan berlaku 3 bulan dari tanggal dikeluarkan surat tersebut.< br/>
					Peraturan mengenani perkawinan Indonesia, bisa dilihat di : Undang-undang Perkawinan No. 1 tahun 1974< br/>
					Akta Imigressen Korea Selatan 1959/1963 seksyen 8 (3) butir 15 Pekerja asing tidak dibenarkan berkahwin dengan penduduk tempatan atau pekerja asing yang bekerja dinegara Korea Selatan. Sekiranya pekerja asing berkahwin dengan menggunkan Pass Lawatan (Kerja Sementara)/PL(KS) akan ditamatkan dan pekerja asing tersebut perlu dihantar pulang kenegara asalnya. Pemegang visa PL(KS) adalah Perkilangan, Pembinaan, Pertanian, Perladangan, Perkhidmatan, Pembantu Rumah
			Biaya $$KRW
				</p>
				</fieldset>
				<fieldset>
					<legend style="float:left;margin-bottom:28px;">Disclaimer</legend>
					<p>
						Surat Keterangan yang dikeluarkan oleh Kedutaan Besar Republik Indonesia di Korea Selatan bukan sebagai bukti surat nikah, setelah mendapatkan surat keterangan menikah dari Kedutaan Besar Republik Indonesia di Korea Selatan segera mendaftarkan pernikahan tersebut di Jabatan Agama Islam untuk Muslim dan Jabatan Pendaftaran Negara untuk Non Muslim.
					</p>
				</fieldset>
				<footer>					
					<button type="button" class="button button-secondary" onclick="window.location.href = '<%= marriage_index_path %>';">Form Surat Keterangan Nikah sesama WNI</button>
					<button type="button" class="button button-secondary" onclick="window.location.href = '<%= marriage_index_path %>';">Form Surat Keterangan Nikah WNI - WNA</button>
				</footer>
			</form>
</div>
