<div class="span12">
<h3>User</h3>
<p>User: <%= @user.full_name.titleize %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Roles: <%= @user.roles.join(', ').capitalize if @user.roles %></p>
</div class="span12">
<div>
<p>
	<%= link_to "Back to Dashboard", :back, :class => 'btn btn-mini btn-primary' %><!-- users_url -->
	<a data-toggle="modal" href="#role-options-<%= @user.id %>" class="btn btn-mini btn-primary" type="button">Change role</a><%= render @user %>
	<%= link_to("Delete user", deleteuserviadashboard_path(@user), :data => { :confirm => "Are you sure?" }, 
	        :method => :delete, :class => 'btn btn-mini btn-danger') unless @user == current_user %>
</p>
</div>
	
