<div class="body" style="padding-top: 20px;">
<div style="text-align: center;">
  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put , :class => 'sky-form' }) do |f| %>
  <header>Change your password</header>
  <fieldset>
	<div class="row">
		<section class="col col-4">
		  <label class="label">Insert your new password</label>
	      <label class="input">
		    <%= f.input_field :password, :required => true, :autofocus => true, :html => { :class => 'hurufBesar' } %>
		    <i class="icon-append icon-lock"></i>
		  </label>
		</section>
		<section class="col col-4">
		  <label class="label">Confirm your new password</label>
	      <label class="input">
		    <%= f.input_field :password_confirmation, :required => true, :html => { :class => 'hurufBesar' } %>
		    <i class="icon-append icon-lock"></i>
		  </label>
		
		<section class="col col-4">
		  <%= f.hidden_field :reset_password_token %>
		</section>	
	</div>
  </fieldset>
  
  <footer>
  	<p>By clicking this button, <strong>You will change your password</strong> permanently.</p>
	<button type="submit" class="button">Change My Passwrod</button>
	<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
  </footer>
<% end %>
