<div style="text-align: center; padding-top: 20px; position: relative;">
<%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
<h1>Welcome to electronic KBRI Seoul services (E-KBRI)</h1>
<hr />

<% if !@latestdata.empty? %>
	<% if !@latestdata[:lapordiri] %>
		<div class="row">
		<div class="col-md-12">
								<!-- start: TABLE WITH IMAGES PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<i class="fa fa-external-link-square"></i>
										<h4>History data anda</h4>										
									</div>
									<div class="panel-body">
										<table class="table table-striped table-bordered table-hover" id="sample-table-2">
											<thead>
												<tr>																										
													<th>Nama Kegiatan</th>
													<th><center>Timestamp</center></th>													
													<th><center>Status</center></th>	
													<th></th>
												</tr>
											</thead>
											<tbody>												
												<% @latestdata.each do |t| %>
												<tr>													
													<td align="left"><%= t[1]["name"] %></td>
													<td class="center"><%= t[1]["timestamp"] %></td>	
													<td class="center"><%= t[1]["status"] %></td>													
													<td class="center">
													<%= link_to 'Edit', t[1]["link"] %>
													</td>
												</tr>												
												<% end %>
											</tbody>											
										</table>
									</div>
								</div>
								<!-- end: TABLE WITH IMAGES PANEL -->
		</div>
	</div>
	<% end %>
	
<hr />
<% end %>
<br />
<div>An initiative towards e-Government movement by</div>
<h2>The Embassy of Republic of Indonesia in Seoul.</h2>
<p>
	380 Yeouidebangro, Yeongdeungpo-gu, Seoul (in front of KBS Annex)
</p>
<p>
	<b>Telephone :</b> +82-2-7835675 - 7 or +82-2-7835371 - 2
	<b>| Fax : </b>+82-2-7804280
	<b>| Email :</b> seoul.kbri@kemlu.go.id
</p>
</div>
