<div class="body" style="padding-top: 20px;">
			<div style="text-align: center;">
			  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
			</div>		
			<!-- Red color scheme -->
			
			<%= simple_form_for :passport, url: passport_path(@passport), :method => :patch, :html => { :class => "sky-form", :multipart => true } do |f| %>
				<header>Formulir Pengurusan Paspor/SPLP untuk WNI di Korea Selatan</header>
				<fieldset>No. Aplikasi Paspor: <b><%= @passport.ref_id %></b></fieldset>
				<fieldset>
					<div class="row">
						<section class="col col-6">
							<label class="label">Tujuan Aplikasi</label>
							<label class="select">
								<%= f.input_field :application_type, 
								collection: { 'Perpanjang Paspor' => 'perpanjang-paspor', 
								          	  'Pembuatan Paspor' => 'pembuatan-paspor', 'Pembuatan SPLP' => 'pembuatan-splp' } %>
							<i></i>
							</label>
						</section>
						<section class="col col-6">
							<label class="label">Alasan Permohonan</label>
							<label class="select">
								<%= f.input_field :application_reason, 
								collection: { 'Paspor Habis (Masa Berlakunya)' => 'habis-masa', 'Paspor Habis (Halamannya)' => 'habis-halaman',
								          	  'Memperpanjang Kontrak' => 'perpanjang-kontrak', 'Akan Pulang ke Indonesia' => 'pulang-indonesia' } %>
							<i></i>
							</label>
						</section>
					</div>
				</fieldset>
				
				<fieldset>
					<div class="row">
						<section class="col col-4">
							<label class="label">Nama Lengkap</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :full_name %>
							</label>
						</section>	
						<section class="col col-4">
							<label class="label">Tinggi Badan (dalam 'cm')</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :height %>
							</label>
						</section>
						<section class="col col-4">
							<label class="label">Pas Foto Digital</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :photo, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :photopath, readonly: true %>
							</label>
							<div class="note"><strong>Catatan:</strong> Hanya berkas gambar JPG/JPEG/PNG. Ukuran Maks. 2MB</div>
						</section>			
					</div>

					<div class="row">
						<section class="col col-4">
							<label class="label">Tempat Lahir</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
									<%= f.input_field :placeBirth %>
							</label>
						</section>

						<section class="col col-4">
							<label class="label">Tanggal Lahir</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateBirth, class: 'datePick' %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Status Perkawinan</label>
							<label class="select">
								<%= f.input_field :marriage_status, 
								collection: { 'Belum Kawin' => '1', 'Kawin' => '2', 'Cerai' => '3' } %>
							<i></i>
							</label>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-4">
							<label class="label">No Paspor Terakhir (Paspor Sebelumnya)</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<%= f.input_field :lastPassportNo %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Tanggal Terbit Paspor Terakhir</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :dateIssued, class: 'datePick' %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Tempat Pengeluaran Paspor yang Terakhir</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :placeIssued %>
							</label>
						</section>
					</div>

					<div class="row">
						<section class="col col-3">
							<label class="label">Pekerjaan di Korea (dan Jenisnya)</label>
							<label class="input">
								<i class="icon-append icon-wrench"></i>
								<%= f.input_field :jobStudyInKorea %>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Nama Perusahaan/Sekolah/Instansi</label>
							<label class="input">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :jobStudyOrganization %>
							</label>
							<div class="note"><strong>Note:</strong> Tuliskan pula nama hangeulnya bila ada.</div>
						</section>
						</section>
						
						<section class="col col-6">
						<label class="label">Alamat Perusahaan/Sekolah/Instansi</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :jobStudyAddress, input_html: { row: 5 }, as: :text %>
						</label>
						<div class="note"><strong>Note:</strong> Tuliskan dalam huruf hangeul.</div>
						</section>
					</div>

					<div class="row">
						<section class="col col-3">
							<label class="label">No Telepon di Korea</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :phoneKorea %>
							</label>
						</section>
						
						<section class="col col-9">
						<label class="label">Alamat Tinggal di Korea</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :addressKorea, input_html: { row: 5 }, as: :text %>
						</label>
						<div class="note"><strong>Note:</strong> Cantumkan alamat yang benar-benar bisa dihubungi, dalam hangeul (bila bisa).</div>
						</section>
					</div>

				    <div class="row">
				    <section class="col col-3">
							<label class="label">No Telepon di Indonesia</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :phoneIndonesia %>
							</label>
						</section>
					<section class="col col-9">
						<label class="label">Alamat di Indonesia</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-home"></i>
							<%= f.input_field :addressIndonesia, input_html: { row: 5 }, as: :text %>
						</label>
						<div class="note"><strong>Note:</strong> Tuliskan alamat yang benar-benar bisa dihubungi saat darurat.</div>
					</section>
				    </div>

				</fieldset>
				<fieldset>
					<div class="row">

						<section class="col col-6">
							<label class="label">Tiba di Korea</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateArrival, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>

						<section class="col col-6">
							<label class="label">Dikirim oleh</label>
							<label class="select">
								<%= f.input_field :sendingParty, 
								collection: { 'BNP2TKI' => '1', 'PJTKI' => '2', 'Perusahaan Korea di Indonesia' => '3', 'Lain-Lain' => '4' } %>
							<i></i>
							</label>
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>
					</div>
				</fieldset>

				<fieldset>
					<div class="row">
						<section class="col col-12">
							<label class="label">Foto/Scan Bukti Pembayaran Pengurusan Paspor/SPLP</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :slip_photo, as: :file, class: 'fileplaceholder' %>Unggah</div>
									<%= f.input_field :payment_slip, readonly: true %>
							</label>
							<div class="note"><strong>Catatan:</strong> Hanya berkas gambar JPG/JPEG/PNG. Ukuran Maks. 2MB</div>
						</section>			
					</div>
				</fieldset>
				
				<footer>
					<button type="submit" class="button">Perbarui Aplikasi</button>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Kembali</button>
				</footer>
			<% end %>
			<!--/ Red color scheme -->			
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript">
			$(function()
			{
				// Regular datepicker
				$('.datePick').datepicker({
					dateFormat: 'dd.mm.yy',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
				
			});			
</script>