<div class="body" style="padding-top: 20px;">
			<div style="text-align: center;">
			  <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
			</div>		
			
			<% unless @errors.nil? %>
			<h2 style="color:white;background:red;">Penyimpanan Data Gagal. Silahkan cek pesan dibawah ini</h2>
				<div style="padding:4px;color:red;font-size:10pt;">
					<% @errors.each do |fs| %>
						<%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
					<%end%>
				</div>
			<%end%>	
			
			<!-- Red color scheme -->
			<%= simple_form_for @report, url: reports_path, :html => { :class => "sky-form", :multipart => true } do |f| %>
				<header>Formulir Lapor Diri dan Pendataan WNI di Korea Selatan</header>
				<fieldset style="text-align:justify;">
					Silahkan mengisi formulir  ini dengan hati-hati dan sampai tuntas. Semua data ditanyakan adalah <b>penting</b> kecuali dinyatakan sebagai 'TIDAK'.
					<%= f.input_field :is_valid, :as => :hidden, :value => true %>
				</fieldset>
				<fieldset>					
					<div class="row">
						<h3>Informasi Data Diri</h3>	
						<hr /><br />
						<section class="col col-4">							
							<label class="label">Nama Lengkap</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :name %>
							</label>
						</section>	
						<section class="col col-2">
							<label class="label">Tinggi Badan (cm)</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :height %>
							</label>
						</section>		
						<section class="col col-3">
							<label class="label">Pas Foto</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :photo, as: :file, class: 'fileplaceholder'  %>Unggah</div>
									<input type='text' readonly='readonly' />
							</label>
							<div class="note"><strong>Catatan : </strong> Hanya berkas gambar JPG/JPEG/PNG. Ukuran Maks. 2MB<br />Gambar wajib merupakan pas foto resmi rapih dan jelas dengan latar belakang putih. Contoh : <a href="http://goo.gl/F9bvxO" target="_blank">http://goo.gl/F9bvxO</a></div>
						</section>	
						<% if @report.photo.exists? %>
						<section class="col col-1">
							<%= image_tag @report.photo.url(:thumb) %>
						</section>				
						<%end%>					
					</div>
					
					<div class="row">
						<section class="col col-2">
							<label class="label">Tempat Lahir</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
							<%= f.input_field :birthplace %>
							</label>
						</section>

						<section class="col col-2">
							<label class="label">Tanggal Lahir</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :datebirth, class: 'datePick' %>							
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label" for='marriagestatus' >Status Perkawinan</label>
							<label class="select">
							<%= f.input_field :marriagestatus, collection: { 'Kawin'=>'kawin' ,'Belum Kawin'=>'belum-kawin' ,'Cerai'=>'cerai' } %>							
							<i></i>
							</label>
						</section>
					</div>
					
					<div class="row">
						<h3>Kelengkapan Dokumen</h3>	
						<hr /><br />
						<section class="col col-3">
							<label class="label">Scan Paspor</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :paspor, as: :file, class: 'fileplaceholder'  %>Unggah</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Ukuran Maks : 2MB</div>
						</section>	
						<% if @report.paspor.exists? %>
						<section class="col col-1">
							<%= image_tag @report.paspor.url(:thumb) %>
						</section>				
						<%end%>		
						
						<section class="col col-2">
							<label class="label">No Passport</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<%= f.input_field :nopaspor %>
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label">Tanggal Terbit</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :dateissued, class: 'datePick' %>
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label">Tanggal Berakhir</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :dateend, class: 'datePick' %>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Tempat Pengeluaran Paspor</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :passportplace %>
							</label>
						</section>		
						
						<section class="col col-3">
							<label class="label">Kantor Pengeluaran Paspor</label>
							<label class="select">
								<%= f.input_field :immigrationOffice, 
								collection: {   "JAKARTA TIMUR" => "JAKARTA TIMUR",
												"JAKARTA PUSAT" => "JAKARTA PUSAT",
												"JAKARTA BARAT" => "JAKARTA BARAT",
												"JAKARTA UTARA"=>"JAKARTA UTARA",
												"JAKARTA SELATAN"=>"JAKARTA SELATAN",
												"TANJUNG PRIOK"=>"TANJUNG PRIOK",
												"BANDUNG"=>"BANDUNG",
												"SEMARANG"=>"SEMARANG",
												"YOGYAKARTA"=>"YOGYAKARTA",
												"SOLO"=>"SOLO",
												"MADIUN"=>"MADIUN",
												"SURABAYA"=>"SURABAYA",
												"SUBANG"=>"SUBANG",
												"CIREBON"=>"CIREBON",
												"KBRI SEOUL"=>"KBRI SEOUL",
												"LAINNYA"=>"LAINNYA" } %>
							<i></i>
							</label>
						</section>			
						
						
					</div>					
					
					
					<div class="row">
						
						<section class="col col-3">
							<label class="label">Scan Alien Card</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :aliencard, as: :file, class: 'fileplaceholder'  %>Unggah</div>
									<input type="text" readonly="readonly" />
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Ukuran Maks : 2MB<br />Harap scan dan gabungkan kedua sisi kartu</div>
						</section>	
						<% if @report.aliencard.exists? %>
						<section class="col col-1">
							<%= image_tag @report.aliencard.url(:thumb) %>
						</section>				
						<%end%>
						
						<section class="col col-3">
							<label class="label">Nomor Alien Card</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :no_arc %>
							</label>
						</section>	
						
						<section class="col col-2">
							<label class="label">Jenis Visa</label>
							<label class="select">								
								<%= f.input_field :visatype, collection: { 'A-1' => 'a1', 'A-2' => 'a2', 'A-3' => 'a3', 'C-1' => 'c1', 'C-2' => 'c2', 'C-3' => 'c3', 'C-4' => 'c4', 'D-1' => 'd1', 'D-2' => 'd2', 'D-3' => 'd3', 'D-4' => 'd4', 'D-8' => 'd8', 'E-3' => 'e3', 'E-5' => 'e5', 'E-6' => 'e6', 'E-7' => 'e7', 'E-9' => 'e9', 'F-2' => 'f2', 'F-3' => 'f3', 'F-5' => 'f5', 'F-6' => 'f6' } %>
								<i></i>
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label">Tanggal Terbit</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :visadateissued, class: 'datePick' %>
							</label>
						</section>
						
						<section class="col col-2">
							<label class="label">Tanggal Berakhir</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :visadateend, class: 'datePick' %>
							</label>
						</section>							
						
						
					</div>				
						
					
					</fieldset>
					<fieldset>
					
					<div class="row">
						<section class="col col-3">
							<label class="label">Pekerjaan di Korea</label>
							<label class="select">
								<%= f.input_field :jobStudyInKorea, 
								collection: { "Tenaga Kerja Indonesia" => "TKI" ,"ABK"=>"ABK", "Mahasiswa/Pelajar" => "Pelajar", 
									"Profesional" => "Profesional" ,"Ikut Keluarga" => "Ikut Keluarga" , "Lainnya" => "Lainnya" } %>
							<i></i>
							</label>
						</section>
						
						<section class="col col-3">
							<label class="label">Keterangan Pekerjaan</label>
							<label class="input">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :jobStudyTypeInKorea, :maxlength => 50 %>
							</label>
							<div class="note"><strong>Contoh :</strong> Ibu Rumah Tangga, Anak, Jenis Bisnis, Bidang Pekerjaan, Dll</div>
						</section>
						
						<section class="col col-3">
							<label class="label">Nama Perusahaan/Sekolah/Instansi</label>
							<label class="input">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :jobStudyOrganization, :maxlength => 50 %>
							</label>							
						</section>
						
				  </div>
				  <div class="row">
				  		<section class="col col-3"></section>
						<section class="col col-6">
						<label class="label">Alamat Perusahaan/Sekolah/Instansi</label>
						<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :jobStudyAddress, :row => 5, :maxlength => 50, as: :text %>
						</label>						
						</section>
					</div>				
					
					</fieldset>
					<fieldset>					
					
					<div class="row">
						<section class="col col-3">
							<label class="label">No Telepon di Korea</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :koreanphone %>
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Alamat Tinggal di Korea</label>
							<label class="textarea textarea-expandable">
								<i class="icon-append icon-road"></i>
								<%= f.input_field :koreanaddress, as: :text %>
							</label>
							<div class="note"><strong>Note:</strong> Harap tulis dalam hangeul jika memungkinkan.</div>
						</section>
						
					</div>
					<div class="row">						
						<section class="col col-3"></section>
						<section class="col col-3">
							  <label class="label">Propinsi</label>
							  <label class="select">
								<%= f.input_field :koreanaddressprovince, collection: { 
									'Gyeonggi-do' => 'Gyeonggi-do',
									'Gangwon-do' => 'Gangwon-do',
									'Jeollabuk-do' => 'Jeollabuk-do',
									'Jeollanam-do' => 'Jeollanam-do',
									'Chungcheongnam-do' => 'Chungcheongnam-do',
									'Chungcheongbuk-nam' => 'Chungcheongbuk-do',
									'Gyeongsamnam-do' => 'Gyeongsam_nam-do',
									'Gyeongsangbuk-do' => 'Gyeongsang_bu-do',
									'Jeju Island' => 'Jeju',
									'특별시 Seoul' => 'Seoul',
									'광역시 Busan' => 'Busan',
									'광역시 Daegu' => 'Daegu',
									'광역시 Daejeon' => 'Daejeon',
									'광역시 Gwangju' => 'Gwangju',
									'광역시 Incheon' => 'Incheon',
									'광역시 Ulsan' => 'Ulsan',
									'특별자치시 Sejong' => 'Sejong'
									 } %>
								<i></i>
							  </label>							
						</section>
						<section class="col col-3">
							<label class="label">Kota</label>
							<label class="input">
								<i class="icon-append icon-road"></i>
								<label class="select">
								<%= f.input_field :koreanaddresscity, 
								collection: { 'Andong' => 'Andong',
											  'Ansan' => 'Ansan',
											  'Anseong' => 'Anseong',
											  'Anyang' => 'Anyang',
											  'Asan' => 'Asan',
											  'Boryeong' => 'Boryeong',
											  'Bucheon' => 'Bucheon',
											  'Busan' => 'Busan',
											  'Changwon' => 'Changwon',
											  'Cheonan' => 'Cheonan',
											  'Cheongju' => 'Cheongju',
											  'Chuncheon' => 'Chuncheon',
											  'Chungju' => 'Chungju',
											  'Daegu' => 'Daegu',
											  'Daejeon' => 'Daejeon',
											  'Dangjin' => 'Dangjin',
											  'Donghae' => 'Donghae',
											  'Gangneung' => 'Gangneung',
											  'Geoje' => 'Geoje',
											  'Gimcheon' => 'Gimcheon',
											  'Gimhae' => 'Gimhae',
											  'Gimje' => 'Gimje',
											  'Gimpo' => 'Gimpo',
											  'Gongju' => 'Gongju',
											  'Goyang' => 'Goyang',
											  'Gumi' => 'Gumi',
											  'Gunpo' => 'Gunpo',
											  'Gunsan'	=> 'Gunsan',
											  'Guri' => 'Guri',
											  'Gwacheon' => 'Gwacheon',
											  'Gwangju' => 'Gwangju',
											  'Gwangmyeong' => 'Gwangmyeong',
											  'Gwangyang' => 'Gwangyang',
											  'Gyeongju' => 'Gyeongju',
											  'Gyeongsan' => 'Gyeongsan',
											  'Gyeryong' => 'Gyeryong',
											  'Hanam' => 'Hanam',
											  'Hwaseong' => 'Hwaseong',
											  'Icheon' => 'Icheon',
											  'Iksan' => 'Iksan',
											  'Incheon' => 'Incheon',
											  'Jecheon' => 'Jecheon',
											  'Jeongeup' => 'Jeongeup',
											  'Jeonju' => 'Jeonju',
											  'Jeju' => 'Jeju',
											  'Jinju' => 'Jinju',
											  'Naju' => 'Naju',
											  'Namyangju' => 'Namyangju',
											  'Namwon' => 'Namwon',
											  'Nonsan' => 'Nonsan',
											  'Miryang' => 'Miryang',
											  'Mokpo' => 'Mokpo',
											  'Mungyeong' => 'Mungyeong',
											  'Osan' => 'Osan',
											  'Paju' => 'Paju',
											  'Pocheon' => 'Pocheon',
											  'Pohang' => 'Pohang',
											  'Pyeongtaek' => 'Pyeongtaek',
											  'Sacheon' => 'Sacheon',
											  'Sangju' => 'Sangju',
											  'Samcheok' => 'Samcheok',
											  'Sejong' => 'Sejong',
											  'Seogwipo' => 'Seogwipo',
											  'Seongnam' => 'Seongnam',
											  'Seosan' => 'Seosan',
											  'Seoul' => 'Seoul',
											  'Siheung' => 'Siheung',
											  'Sokcho' => 'Sokcho',
											  'Suncheon' => 'Suncheon',
											  'Suwon' => 'Suwon',
											  'Taebaek' => 'Taebaek',
											  'Tongyeong' => 'Tongyeong',
											  'Uijeongbu' => 'Uijeongbu',
											  'Uiwang' => 'Uiwang',
											  'Ulsan' => 'Ulsan',
											  'Wonju' => 'Wonju',
											  'Yangju' => 'Yangju',
											  'Yangsan' => 'Yangsan',
											  'Yeoju' => 'Yeoju',
											  'Yeongcheon' => 'Yeongcheon',
											  'Yeongju' => 'Yeongju',
											  'Yeosu' => 'Yeosu',
											  'Yongjin' => 'Yongjin' 
											  			  
								} %>
							<i></i>
							</label>
						</section>	
						
						<section class="col col-2">
						<label class="label">Kode Pos</label>
							<label class="input">								
								<%= f.input_field :koreanaddresspostalcode %>
							</label>	
							<div class="note">Cek kodepos alamat <a target="_blank" href="http://www.koreapost.go.kr/eng/sub/ZipCodeFinder.jsp?contId=e1030700">disini</a></div>						
						</section>
					</div>					
					
					</fieldset>
					
					<fieldset>					
				    <div class="row">
			    	<h3>Keterangan di Indonesia</h3>
					<hr /><br />
				    	
				    	<section class="col col-3">
							<label class="label">No Telepon di Indonesia</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :indonesianphone %>
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Alamat di Indonesia</label>
							<label class="textarea textarea-expandable">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :indonesianaddress, as: :text %>
							</label>						
						</section>
					
					</div>
					<div class="row">		
					
						<section class="col col-3"></section>
						<section class="col col-3">
						<label class="label">Kelurahan/Desa</label>
							<label class="input">								
								<%= f.input_field :indonesianaddresskelurahan %>
							</label>							
						</section>	

						<section class="col col-3">
						<label class="label">Kecamatan</label>
							<label class="input">								
								<%= f.input_field :indonesianaddresskecamatan%>
							<i></i>
							</label>														
						</section>
						
						<section class="col col-3">
							<label class="label">Kabupaten/Kota</label>
							<label class="select">
							<%= f.input_field :indonesianaddresskabupaten, 
							collection: { 
							'AMBON (KODYA)'=>'ABN',
							'ACEH TIMUR'=>'ACA',
							'ACEH TENGGARA'=>'ACG',
							'ACEH TENGAH'=>'ACH',
							'ACEH SELATAN'=>'ACN',
							'ACEH BESAR'=>'ACR',
							'ACEH BARAT'=>'ACT',
							'ACEH UTARA'=>'ACU',
							'AGAM'=>'AGM',
							'ASAHAN'=>'AHN',
							'ALOR'=>'ALO',
							'ARGAMAKMUR'=>'ARG',
							'BANDA ACEH (KODYA)'=>'BAC',
							'BADUNG'=>'BAD',
							'BANGLI'=>'BAG',
							'BANTUL'=>'BAN',
							'BARRU'=>'BAR',
							'BUNGO TEBO'=>'BBO',
							'BANDUNG (KODYA)'=>'BDG',
							'BANDUNG'=>'BDK',
							'BANDARLAMPUNG'=>'BDL',
							'BONDOWOSO'=>'BDW',
							'BELU'=>'BEL',
							'BERAU'=>'BER',
							'BANGGAI'=>'BGG',
							'BOGOR'=>'BGK',
							'BULONGAN'=>'BGN',
							'BOLAANGMONGONDOW'=>'BGW',
							'BATANGHARI'=>'BHI',
							'BIMA (KODYA)'=>'BIM',
							'BINJAI'=>'BIN',
							'BITUNG'=>'BIT',
							'BATURAJA'=>'BJA',
							'BANJARNEGARA'=>'BJG',
							'BANJAR'=>'BJR',
							'BANGKA'=>'BKA',
							'BANGKINANG'=>'BKG',
							'BENGKULU (KODYA)'=>'BKL',
							'BANGKALAN'=>'BKN',
							'BENGKULU SELATAN'=>'BKS',
							'BUKITTINGGI'=>'BKT',
							'BENGKULU UTARA'=>'BKU',
							'BULUKUMBA'=>'BLB',
							'BLITAR'=>'BLI',
							'BLORA'=>'BLO',
							'BENGKALIS'=>'BLS',
							'BELITUNG'=>'BLT',
							'BIMA'=>'BMA',
							'BANJAR'=>'BNJ',
							'BONTANG'=>'BNT',
							'BOGOR (KODYA)'=>'BOG',
							'BOJONEGORO'=>'BOJ',
							'BARITOKUALA'=>'BOK',
							'BONE'=>'BON',
							'BARITO SELATAN'=>'BOS',
							'BARITO UTARA'=>'BOU',
							'BOYOLALI'=>'BOY',
							'BALIKPAPAN'=>'BPP',
							'BREBES'=>'BRE',
							'BEKASI (KODYA)'=>'BSI',
							'BEKASI'=>'BSK',
							'BANJARMASIN'=>'BSN',
							'BANTAENG'=>'BTG',
							'BUOL-TOLITOLI'=>'BTI',
							'BATAM'=>'BTM',
							'BATANG'=>'BTN',
							'BATU'=>'BTU',
							'BULELENG'=>'BUL',
							'BURU'=>'BUR',
							'BUTON'=>'BUT',
							'BANYUWANGI'=>'BYI',
							'BANYUMAS'=>'BYS',
							'CIREBON (KODYA)'=>'CBN',
							'CILACAP'=>'CCP',
							'CILEGON'=>'CIL',
							'CIREBON'=>'CIR',
							'CIANJUR'=>'CJR',
							'CIMAHI'=>'CMI',
							'CIAMIS'=>'CMS',
							'DAIRI'=>'DAI',
							'DEMAK'=>'DEM',
							'DEPOK'=>'DEP',
							'DONGGALA'=>'DGL',
							'DELISERDANG'=>'DLD',
							'DOMPU'=>'DOM',
							'DENPASAR (KODYA)'=>'DPS',
							'DUMAI'=>'DUM',
							'ENDE'=>'END',
							'ENREKANG'=>'ENR',
							'FAKFAK'=>'FAK',
							'FLORES TIMUR'=>'FLT',
							'GARUT'=>'GAR',
							'GUNUNGKIDUL'=>'GDL',
							'GIANYAR'=>'GIA',
							'GORONTALO'=>'GOR',
							'GOWA'=>'GOW',
							'GROBOGAN'=>'GRO',
							'HULU SUNGAI SELATAN'=>'HSS',
							'HULU SUNGAI TENGAH'=>'HST',
							'HULU SUNGAI UTARA'=>'HSU',
							'HALMAHERA TENGAH'=>'HTE',
							'INDRAGIRI HILIR'=>'IDI',
							'INDRAGIRI HULU'=>'IDU',
							'INDRAMAYU'=>'IDY',
							'JAMBI (KODYA)'=>'JAM',
							'JOMBANG'=>'JBG',
							'JEMBER'=>'JBR',
							'JEMBRANA'=>'JEM',
							'JEPARA'=>'JEP',
							'JAKARTA BARAT'=>'JKB',
							'JAKARTA PUSAT'=>'JKP',
							'JAKARTA SELATAN'=>'JKS',
							'JAKARTA TIMUR'=>'JKT',
							'JAKARTA UTARA'=>'JKU',
							'JENEPONTO'=>'JTO',
							'JAYAWIJAYA'=>'JYJ',
							'JAYAPURA (KODYA)'=>'JYP',
							'KALIANDA'=>'KAL',
							'KAMPAR'=>'KAM',
							'KAPUAS'=>'KAP',
							'KARO'=>'KAR',
							'KERINCI'=>'KCI',
							'KEDIRI'=>'KDI',
							'KENDAL'=>'KDL',
							'KENDARI'=>'KDR',
							'KUDUS'=>'KDS',
							'KEBUMEN'=>'KEB',
							'KENDARI'=>'KEN',
							'KEPULAUAN RIAU'=>'KER',
							'KISARAN'=>'KIS',
							'KLUNGKUNG'=>'KLK',
							'KULONPROGO'=>'KLO',
							'KLATEN'=>'KLT',
							'KOLAKA'=>'KOL',
							'KUPANG'=>'KPG',
							'KAPUS HULU'=>'KPU',
							'KARANGASEM'=>'KRS',
							'KOTA BARU'=>'KRU',
							'KARAWANG'=>'KRW',
							'KETAPANG'=>'KTP',
							'KUNINGAN'=>'KUN',
							'KUPANG (KODYA)'=>'KUP',
							'KUTAI'=>'KUT',
							'KOTAWARINGIN BARAT'=>'KWB',
							'KOTAWARINGIN TIMUR'=>'KWT',
							'KARANGANYAR'=>'KYR',
							'LANGSA'=>'LAG',
							'LAMONGAN'=>'LAM',
							'LAWU'=>'LAW',
							'LOMBOK BARAT'=>'LBB',
							'LOMBOK TENGAH'=>'LBH',
							'LEBAK'=>'LBK',
							'LOMBOK TIMUR'=>'LBR',
							'LABUHANBATU'=>'LBT',
							'LANGKAT'=>'LGT',
							'LHOKSEUMAWE (KODYA)'=>'LHO',
							'LAHAT'=>'LHT',
							'LUBUKLINGGAU'=>'LLG',
							'LAMPUNG BARAT'=>'LPB',
							'LIMAPULUH KOTA'=>'LPK',
							'LAMPUNG SELATAN'=>'LPS',
							'LAMPUNG TENGAH'=>'LPT',
							'LAMPUNG UTARA'=>'LPU',
							'LUMAJANG'=>'LUM',
							'MADIUN'=>'MAD',
							'MAGELANG'=>'MAG',
							'MALUKU TENGAH'=>'MAH',
							'MAJENE'=>'MAJ',
							'MAMUJU'=>'MAM',
							'MAROS'=>'MAR',
							'MATARAM'=>'MAT',
							'MALUKU UTARA'=>'MAU',
							'MUSIBANYUASIN'=>'MBA',
							'MUARABULIAN'=>'MBN',
							'MEDAN'=>'MDN',
							'MANADO'=>'MDO',
							'MENGGARAI'=>'MEN',
							'MERAUKE'=>'MER',
							'METRO'=>'MET',
							'MAGETAN'=>'MGT',
							'MINAHASA'=>'MHS',
							'MAJALENGKA'=>'MJK',
							'MOJOKERTO'=>'MJO',
							'MALUKU TENGGARA'=>'MKT',
							'MALANG'=>'MLG',
							'MUARAENIM'=>'MRM',
							'MUNA'=>'MUN',
							'MANOKWAN'=>'MWI',
							'MUSIRAWAS'=>'MWS',
							'NGADA'=>'NGA',
							'NGANJUK'=>'NGK',
							'NGAWI'=>'NGW',
							'NIAS'=>'NIA',
							'OGAN KOMERING ILIR'=>'OKI',
							'OGAN KOMERING ULU'=>'OKU',
							'PACITAN'=>'PAC',
							'PANIAI'=>'PAI',
							'PALU'=>'PAL',
							'PAMEKASAN'=>'PAM',
							'PANARUKAN'=>'PAN',
							'PARIAMAN'=>'PAR',
							'PASAMAN'=>'PAS',
							'PATI'=>'PAT',
							'PURBALINGGA'=>'PBA',
							'PADANG'=>'PDG',
							'PADANGPANJANG'=>'PDJ',
							'PANDANGPARIAMAN'=>'PDP',
							'PADANGSIDEMPUAN'=>'PDS',
							'PEMALANG'=>'PEM',
							'PANDEGELANG'=>'PGG',
							'PIDIE'=>'PID',
							'PINRANG'=>'PIN',
							'PANGKAJENE KEPULAUAN'=>'PJK',
							'PEKANBARU'=>'PKB',
							'PEKALONGAN'=>'PKL',
							'PANGKALPINANG'=>'PKP',
							'PALANGKARAYA'=>'PKY',
							'PALEMBANG'=>'PLG',
							'POLEWALI - MAMASA'=>'PMS',
							'PONOROGO'=>'PON',
							'POSO'=>'POS',
							'PALOPO'=>'PPO',
							'PRABUMULIH'=>'PRA',
							'PAREPARE'=>'PRE',
							'PROBOLINGGO'=>'PRO',
							'PASURUAN'=>'PSR',
							'PESISIR SELATAN'=>'PSS',
							'TAPANULI TENGAH'=>'PTH',
							'PONTIANAK'=>'PTK',
							'PEMATANGSIANTAR'=>'PTS',
							'PURWAKARTA'=>'PUR',
							'PURWOREJO'=>'PWJ',
							'PURWOKERTO'=>'PWK',
							'PAYAKUMBUH'=>'PYK',
							'REMBANG'=>'REM',
							'REJANGLEBONG'=>'RJL',
							'RANTAUPRAPAT'=>'RTP',
							'SABANG'=>'SAB',
							'SALATIGA'=>'SAL',
							'SAWAHLUNTO'=>'SAW',
							'SAMBAS'=>'SBS',
							'SUMBAWA'=>'SBW',
							'SURABAYA'=>'SBY',
							'SUMEDANG'=>'SDG',
							'SELAYAR'=>'SEL',
							'SERANG'=>'SER',
							'SIDENRENG - RAPPANG'=>'SGR',
							'SANGGAU'=>'SGU',
							'SIBOLGA'=>'SIB',
							'SIKKA'=>'SIK',
							'SIMALUNGUN'=>'SIM',
							'SINTANG'=>'SIN',
							'SINJAI'=>'SJI',
							'SIDOARJO'=>'SJO',
							'SUKOHARJO'=>'SKJ',
							'SLEMAN'=>'SLE',
							'SAROLANGUN'=>'SLN',
							'SEMARANG'=>'SMG',
							'SUMENEP'=>'SMN',
							'SAMARINDA'=>'SMR',
							'SOLOK'=>'SOK',
							'SURAKARTA'=>'SOL',
							'SOPPENG'=>'SOP',
							'SORONG'=>'SOR',
							'SAMPANG'=>'SPG',
							'SRAGEN'=>'SRA',
							'SANGIR-TALAUD'=>'STD',
							'SUBANG'=>'SUB',
							'SUKABUMI'=>'SUK',
							'SUMBA BARAT'=>'SUM',
							'SUMBA TIMUR'=>'SUT',
							'SAWAH LUNTO'=>'SWL',
							'TABALONG'=>'TAB',
							'TAKALAR'=>'TAK',
							'TANATORAJA'=>'TAN',
							'TAPIN'=>'TAP',
							'TASIKMALAYA'=>'TAS',
							'TANJUNGBALAI ASAHAN'=>'TBA',
							'TABANAN'=>'TBN',
							'TEBINGTINGGI'=>'TBT',
							'TEGAL'=>'TGL',
							'TANAH DATAR'=>'THD',
							'TANAHLAUT'=>'THL',
							'TANAHPASIR'=>'THP',
							'TANJUNGJABUNG'=>'TJJ',
							'TANJUNGPINANG'=>'TJP',
							'TELUK CENDRAWASIH'=>'TKC',
							'TULUNGAGUNG'=>'TLA',
							'TRENGGELEK'=>'TLK',
							'TEMANGGUNG'=>'TMG',
							'TANGERANG'=>'TNG',
							'TERNATE'=>'TNT',
							'TAPANULI SELATAN'=>'TPN',
							'TAPANULI UTARA'=>'TPU',
							'TARAKAN'=>'TRK',
							'TASIKMALAYA (KODYA)'=>'TSK',
							'TIMOR TENGAH SELATAN'=>'TTS',
							'TIMOR TENGAH UTARA'=>'TTU',
							'TUBAN'=>'TUB',
							'UJUNGPANDANG'=>'UJP',
							'WAJO'=>'WAJ',
							'WATAMPONE'=>'WAT',
							'WONOGIRI'=>'WGR',
							'WONOSOBO'=>'WSB',
							'YAPENWAROPEN'=>'YAP',
							'YOGYAKARTA (KODYA)'=>'YOG'
							} %>
							<i></i>
					    </label>
					  </section>						
					
					</div>
					
					<div class="row">
						<section class="col col-3"></section>
						<section class="col col-3">
							<label class="label">Propinsi</label>
							<label class="select">
								<%= f.input_field :indonesianaddressprovince, 
								collection: { 
								'DI ACEH'=>'BA',
								'BANGKA BELITUNG'=>'BB',
								'JAMBI'=>'BI',
								'BENGKULU'=>'BK',
								'BALI'=>'BL',
								'BANTEN'=>'BT',
								'GORONTALO'=>'GT',
								'IRIAN JAYA'=>'IJ',
								'JAWA BARAT'=>'JB',
								'JAWA TENGAH'=>'JH',
								'DKI JAKARTA'=>'JK',
								'JAWA TIMUR'=>'JT',
								'KALIMANTAN BARAT'=>'KB',
								'KALIMANTAN TENGAH'=>'KH',
								'KALIMANTAN SELATAN'=>'KS',
								'KALIMANTAN TIMUR'=>'KT',
								'LAMPUNG'=>'LP',
								'MALUKU'=>'ML',
								'MALUKU UTARA'=>'MU',
								'RIAU'=>'RI',
								'SUMATERA BARAT'=>'SB',
								'SUMATERA SELATAN'=>'SS',
								'SUMATERA UTARA'=>'SU',
								'NTB'=>'TB',
								'NTT'=>'TT',
								'SULAWESI TENGGARA'=>'WR',
								'SULAWESI SELATAN'=>'WS',
								'SULAWESI TENGAH'=>'WT',
								'SULAWESI UTARA'=>'WU',
								'D.I. YOGYAKARTA'=>'YO'
								} %>
								<i></i>
						    </label>
						</section>
						
						<section class="col col-2">
						<label class="label">Kode Pos</label>
							<label class="input">								
								<%= f.input_field :indonesianaddresspostalcode%>							
							</label>	
							<div class="note">Cek kodepos alamat <a target="_blank" href="http://kodepos.posindonesia.co.id/kodeposalamatindonesialist.php">disini</a></div>													
						</section>
					</div>

				</fieldset>
				
				<fieldset>
				
				
				<div class="row">
					
					<h3>Keluarga/Kerabat yang bisa dihubungi</h3>
					<hr /><br />
					
					<section class="col col-3">
						<label class="label">Nama</label>
							<label class="input">	
								<i class="icon-append icon-user"></i>
								<%= f.input_field :relationname%>
							<i></i>
							</label>														
						</section>
						
						<section class="col col-3">
						<label class="label">Hubungan</label>
							<label class="input">								
								<%= f.input_field :relationstatus%>
							<i></i>
							</label>														
						</section>
				</div>
				<div class="row">
				    	<section class="col col-3">
							<label class="label">No Telepon di Indonesia</label>
							<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :relationphone %>
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Alamat di Indonesia</label>
							<label class="textarea textarea-expandable">
								<i class="icon-append icon-home"></i>
								<%= f.input_field :relationaddress, as: :text %>
							</label>						
						</section>
					
					</div>
					<div class="row">					
						<section class="col col-3"></section>
						<section class="col col-3">
						<label class="label">Kelurahan/Desa</label>
							<label class="input">								
								<%= f.input_field :relationaddresskelurahan %>
							</label>							
						</section>	

						<section class="col col-3">
						<label class="label">Kecamatan</label>
							<label class="input">								
								<%= f.input_field :relationaddresskecamatan%>
							<i></i>
							</label>														
						</section>
						
						<section class="col col-3">
							<label class="label">Kabupaten/Kota</label>
							<label class="select">
							<%= f.input_field :relationaddresskabupaten, 
							collection: { 
							'AMBON (KODYA)'=>'ABN',
							'ACEH TIMUR'=>'ACA',
							'ACEH TENGGARA'=>'ACG',
							'ACEH TENGAH'=>'ACH',
							'ACEH SELATAN'=>'ACN',
							'ACEH BESAR'=>'ACR',
							'ACEH BARAT'=>'ACT',
							'ACEH UTARA'=>'ACU',
							'AGAM'=>'AGM',
							'ASAHAN'=>'AHN',
							'ALOR'=>'ALO',
							'ARGAMAKMUR'=>'ARG',
							'BANDA ACEH (KODYA)'=>'BAC',
							'BADUNG'=>'BAD',
							'BANGLI'=>'BAG',
							'BANTUL'=>'BAN',
							'BARRU'=>'BAR',
							'BUNGO TEBO'=>'BBO',
							'BANDUNG (KODYA)'=>'BDG',
							'BANDUNG'=>'BDK',
							'BANDARLAMPUNG'=>'BDL',
							'BONDOWOSO'=>'BDW',
							'BELU'=>'BEL',
							'BERAU'=>'BER',
							'BANGGAI'=>'BGG',
							'BOGOR'=>'BGK',
							'BULONGAN'=>'BGN',
							'BOLAANGMONGONDOW'=>'BGW',
							'BATANGHARI'=>'BHI',
							'BIMA (KODYA)'=>'BIM',
							'BINJAI'=>'BIN',
							'BITUNG'=>'BIT',
							'BATURAJA'=>'BJA',
							'BANJARNEGARA'=>'BJG',
							'BANJAR'=>'BJR',
							'BANGKA'=>'BKA',
							'BANGKINANG'=>'BKG',
							'BENGKULU (KODYA)'=>'BKL',
							'BANGKALAN'=>'BKN',
							'BENGKULU SELATAN'=>'BKS',
							'BUKITTINGGI'=>'BKT',
							'BENGKULU UTARA'=>'BKU',
							'BULUKUMBA'=>'BLB',
							'BLITAR'=>'BLI',
							'BLORA'=>'BLO',
							'BENGKALIS'=>'BLS',
							'BELITUNG'=>'BLT',
							'BIMA'=>'BMA',
							'BANJAR'=>'BNJ',
							'BONTANG'=>'BNT',
							'BOGOR (KODYA)'=>'BOG',
							'BOJONEGORO'=>'BOJ',
							'BARITOKUALA'=>'BOK',
							'BONE'=>'BON',
							'BARITO SELATAN'=>'BOS',
							'BARITO UTARA'=>'BOU',
							'BOYOLALI'=>'BOY',
							'BALIKPAPAN'=>'BPP',
							'BREBES'=>'BRE',
							'BEKASI (KODYA)'=>'BSI',
							'BEKASI'=>'BSK',
							'BANJARMASIN'=>'BSN',
							'BANTAENG'=>'BTG',
							'BUOL-TOLITOLI'=>'BTI',
							'BATAM'=>'BTM',
							'BATANG'=>'BTN',
							'BATU'=>'BTU',
							'BULELENG'=>'BUL',
							'BURU'=>'BUR',
							'BUTON'=>'BUT',
							'BANYUWANGI'=>'BYI',
							'BANYUMAS'=>'BYS',
							'CIREBON (KODYA)'=>'CBN',
							'CILACAP'=>'CCP',
							'CILEGON'=>'CIL',
							'CIREBON'=>'CIR',
							'CIANJUR'=>'CJR',
							'CIMAHI'=>'CMI',
							'CIAMIS'=>'CMS',
							'DAIRI'=>'DAI',
							'DEMAK'=>'DEM',
							'DEPOK'=>'DEP',
							'DONGGALA'=>'DGL',
							'DELISERDANG'=>'DLD',
							'DOMPU'=>'DOM',
							'DENPASAR (KODYA)'=>'DPS',
							'DUMAI'=>'DUM',
							'ENDE'=>'END',
							'ENREKANG'=>'ENR',
							'FAKFAK'=>'FAK',
							'FLORES TIMUR'=>'FLT',
							'GARUT'=>'GAR',
							'GUNUNGKIDUL'=>'GDL',
							'GIANYAR'=>'GIA',
							'GORONTALO'=>'GOR',
							'GOWA'=>'GOW',
							'GROBOGAN'=>'GRO',
							'HULU SUNGAI SELATAN'=>'HSS',
							'HULU SUNGAI TENGAH'=>'HST',
							'HULU SUNGAI UTARA'=>'HSU',
							'HALMAHERA TENGAH'=>'HTE',
							'INDRAGIRI HILIR'=>'IDI',
							'INDRAGIRI HULU'=>'IDU',
							'INDRAMAYU'=>'IDY',
							'JAMBI (KODYA)'=>'JAM',
							'JOMBANG'=>'JBG',
							'JEMBER'=>'JBR',
							'JEMBRANA'=>'JEM',
							'JEPARA'=>'JEP',
							'JAKARTA BARAT'=>'JKB',
							'JAKARTA PUSAT'=>'JKP',
							'JAKARTA SELATAN'=>'JKS',
							'JAKARTA TIMUR'=>'JKT',
							'JAKARTA UTARA'=>'JKU',
							'JENEPONTO'=>'JTO',
							'JAYAWIJAYA'=>'JYJ',
							'JAYAPURA (KODYA)'=>'JYP',
							'KALIANDA'=>'KAL',
							'KAMPAR'=>'KAM',
							'KAPUAS'=>'KAP',
							'KARO'=>'KAR',
							'KERINCI'=>'KCI',
							'KEDIRI'=>'KDI',
							'KENDAL'=>'KDL',
							'KENDARI'=>'KDR',
							'KUDUS'=>'KDS',
							'KEBUMEN'=>'KEB',
							'KENDARI'=>'KEN',
							'KEPULAUAN RIAU'=>'KER',
							'KISARAN'=>'KIS',
							'KLUNGKUNG'=>'KLK',
							'KULONPROGO'=>'KLO',
							'KLATEN'=>'KLT',
							'KOLAKA'=>'KOL',
							'KUPANG'=>'KPG',
							'KAPUS HULU'=>'KPU',
							'KARANGASEM'=>'KRS',
							'KOTA BARU'=>'KRU',
							'KARAWANG'=>'KRW',
							'KETAPANG'=>'KTP',
							'KUNINGAN'=>'KUN',
							'KUPANG (KODYA)'=>'KUP',
							'KUTAI'=>'KUT',
							'KOTAWARINGIN BARAT'=>'KWB',
							'KOTAWARINGIN TIMUR'=>'KWT',
							'KARANGANYAR'=>'KYR',
							'LANGSA'=>'LAG',
							'LAMONGAN'=>'LAM',
							'LAWU'=>'LAW',
							'LOMBOK BARAT'=>'LBB',
							'LOMBOK TENGAH'=>'LBH',
							'LEBAK'=>'LBK',
							'LOMBOK TIMUR'=>'LBR',
							'LABUHANBATU'=>'LBT',
							'LANGKAT'=>'LGT',
							'LHOKSEUMAWE (KODYA)'=>'LHO',
							'LAHAT'=>'LHT',
							'LUBUKLINGGAU'=>'LLG',
							'LAMPUNG BARAT'=>'LPB',
							'LIMAPULUH KOTA'=>'LPK',
							'LAMPUNG SELATAN'=>'LPS',
							'LAMPUNG TENGAH'=>'LPT',
							'LAMPUNG UTARA'=>'LPU',
							'LUMAJANG'=>'LUM',
							'MADIUN'=>'MAD',
							'MAGELANG'=>'MAG',
							'MALUKU TENGAH'=>'MAH',
							'MAJENE'=>'MAJ',
							'MAMUJU'=>'MAM',
							'MAROS'=>'MAR',
							'MATARAM'=>'MAT',
							'MALUKU UTARA'=>'MAU',
							'MUSIBANYUASIN'=>'MBA',
							'MUARABULIAN'=>'MBN',
							'MEDAN'=>'MDN',
							'MANADO'=>'MDO',
							'MENGGARAI'=>'MEN',
							'MERAUKE'=>'MER',
							'METRO'=>'MET',
							'MAGETAN'=>'MGT',
							'MINAHASA'=>'MHS',
							'MAJALENGKA'=>'MJK',
							'MOJOKERTO'=>'MJO',
							'MALUKU TENGGARA'=>'MKT',
							'MALANG'=>'MLG',
							'MUARAENIM'=>'MRM',
							'MUNA'=>'MUN',
							'MANOKWAN'=>'MWI',
							'MUSIRAWAS'=>'MWS',
							'NGADA'=>'NGA',
							'NGANJUK'=>'NGK',
							'NGAWI'=>'NGW',
							'NIAS'=>'NIA',
							'OGAN KOMERING ILIR'=>'OKI',
							'OGAN KOMERING ULU'=>'OKU',
							'PACITAN'=>'PAC',
							'PANIAI'=>'PAI',
							'PALU'=>'PAL',
							'PAMEKASAN'=>'PAM',
							'PANARUKAN'=>'PAN',
							'PARIAMAN'=>'PAR',
							'PASAMAN'=>'PAS',
							'PATI'=>'PAT',
							'PURBALINGGA'=>'PBA',
							'PADANG'=>'PDG',
							'PADANGPANJANG'=>'PDJ',
							'PANDANGPARIAMAN'=>'PDP',
							'PADANGSIDEMPUAN'=>'PDS',
							'PEMALANG'=>'PEM',
							'PANDEGELANG'=>'PGG',
							'PIDIE'=>'PID',
							'PINRANG'=>'PIN',
							'PANGKAJENE KEPULAUAN'=>'PJK',
							'PEKANBARU'=>'PKB',
							'PEKALONGAN'=>'PKL',
							'PANGKALPINANG'=>'PKP',
							'PALANGKARAYA'=>'PKY',
							'PALEMBANG'=>'PLG',
							'POLEWALI - MAMASA'=>'PMS',
							'PONOROGO'=>'PON',
							'POSO'=>'POS',
							'PALOPO'=>'PPO',
							'PRABUMULIH'=>'PRA',
							'PAREPARE'=>'PRE',
							'PROBOLINGGO'=>'PRO',
							'PASURUAN'=>'PSR',
							'PESISIR SELATAN'=>'PSS',
							'TAPANULI TENGAH'=>'PTH',
							'PONTIANAK'=>'PTK',
							'PEMATANGSIANTAR'=>'PTS',
							'PURWAKARTA'=>'PUR',
							'PURWOREJO'=>'PWJ',
							'PURWOKERTO'=>'PWK',
							'PAYAKUMBUH'=>'PYK',
							'REMBANG'=>'REM',
							'REJANGLEBONG'=>'RJL',
							'RANTAUPRAPAT'=>'RTP',
							'SABANG'=>'SAB',
							'SALATIGA'=>'SAL',
							'SAWAHLUNTO'=>'SAW',
							'SAMBAS'=>'SBS',
							'SUMBAWA'=>'SBW',
							'SURABAYA'=>'SBY',
							'SUMEDANG'=>'SDG',
							'SELAYAR'=>'SEL',
							'SERANG'=>'SER',
							'SIDENRENG - RAPPANG'=>'SGR',
							'SANGGAU'=>'SGU',
							'SIBOLGA'=>'SIB',
							'SIKKA'=>'SIK',
							'SIMALUNGUN'=>'SIM',
							'SINTANG'=>'SIN',
							'SINJAI'=>'SJI',
							'SIDOARJO'=>'SJO',
							'SUKOHARJO'=>'SKJ',
							'SLEMAN'=>'SLE',
							'SAROLANGUN'=>'SLN',
							'SEMARANG'=>'SMG',
							'SUMENEP'=>'SMN',
							'SAMARINDA'=>'SMR',
							'SOLOK'=>'SOK',
							'SURAKARTA'=>'SOL',
							'SOPPENG'=>'SOP',
							'SORONG'=>'SOR',
							'SAMPANG'=>'SPG',
							'SRAGEN'=>'SRA',
							'SANGIR-TALAUD'=>'STD',
							'SUBANG'=>'SUB',
							'SUKABUMI'=>'SUK',
							'SUMBA BARAT'=>'SUM',
							'SUMBA TIMUR'=>'SUT',
							'SAWAH LUNTO'=>'SWL',
							'TABALONG'=>'TAB',
							'TAKALAR'=>'TAK',
							'TANATORAJA'=>'TAN',
							'TAPIN'=>'TAP',
							'TASIKMALAYA'=>'TAS',
							'TANJUNGBALAI ASAHAN'=>'TBA',
							'TABANAN'=>'TBN',
							'TEBINGTINGGI'=>'TBT',
							'TEGAL'=>'TGL',
							'TANAH DATAR'=>'THD',
							'TANAHLAUT'=>'THL',
							'TANAHPASIR'=>'THP',
							'TANJUNGJABUNG'=>'TJJ',
							'TANJUNGPINANG'=>'TJP',
							'TELUK CENDRAWASIH'=>'TKC',
							'TULUNGAGUNG'=>'TLA',
							'TRENGGELEK'=>'TLK',
							'TEMANGGUNG'=>'TMG',
							'TANGERANG'=>'TNG',
							'TERNATE'=>'TNT',
							'TAPANULI SELATAN'=>'TPN',
							'TAPANULI UTARA'=>'TPU',
							'TARAKAN'=>'TRK',
							'TASIKMALAYA (KODYA)'=>'TSK',
							'TIMOR TENGAH SELATAN'=>'TTS',
							'TIMOR TENGAH UTARA'=>'TTU',
							'TUBAN'=>'TUB',
							'UJUNGPANDANG'=>'UJP',
							'WAJO'=>'WAJ',
							'WATAMPONE'=>'WAT',
							'WONOGIRI'=>'WGR',
							'WONOSOBO'=>'WSB',
							'YAPENWAROPEN'=>'YAP',
							'YOGYAKARTA (KODYA)'=>'YOG'
							} %>
							<i></i>
					    </label>
					  </section>					
					</div>
					<div class="row">
						
						<section class="col col-3"></section>
						<section class="col col-3">
							<label class="label">Propinsi</label>
							<label class="select">
								<%= f.input_field :relationaddressprovince, 
								collection: { 
								'DI ACEH'=>'BA',
								'BANGKA BELITUNG'=>'BB',
								'JAMBI'=>'BI',
								'BENGKULU'=>'BK',
								'BALI'=>'BL',
								'BANTEN'=>'BT',
								'GORONTALO'=>'GT',
								'IRIAN JAYA'=>'IJ',
								'JAWA BARAT'=>'JB',
								'JAWA TENGAH'=>'JH',
								'DKI JAKARTA'=>'JK',
								'JAWA TIMUR'=>'JT',
								'KALIMANTAN BARAT'=>'KB',
								'KALIMANTAN TENGAH'=>'KH',
								'KALIMANTAN SELATAN'=>'KS',
								'KALIMANTAN TIMUR'=>'KT',
								'LAMPUNG'=>'LP',
								'MALUKU'=>'ML',
								'MALUKU UTARA'=>'MU',
								'RIAU'=>'RI',
								'SUMATERA BARAT'=>'SB',
								'SUMATERA SELATAN'=>'SS',
								'SUMATERA UTARA'=>'SU',
								'NTB'=>'TB',
								'NTT'=>'TT',
								'SULAWESI TENGGARA'=>'WR',
								'SULAWESI SELATAN'=>'WS',
								'SULAWESI TENGAH'=>'WT',
								'SULAWESI UTARA'=>'WU',
								'D.I. YOGYAKARTA'=>'YO'
								} %>
								<i></i>
						    </label>
						</section>
						
						<section class="col col-2">
						<label class="label">Kode Pos</label>
							<label class="input">								
								<%= f.input_field :relationaddresspostalcode%>							
							</label>											
							<div class="note">Cek kodepos alamat <a target="_blank" href="http://kodepos.posindonesia.co.id/kodeposalamatindonesialist.php">disini</a></div>			
						</section>
						
					</div>
				
				</fieldset>
				
				<fieldset>
					
					<div class="row">
						<h3>Lainnya</h3>
						<hr /><br />
						
						<section class="col col-6">
							<label class="label">Tiba di Korea</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :arrivaldate, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>

						<section class="col col-6">
							<label class="label">Dikirim oleh</label>
							<label class="select">
							<%= f.input_field :indonesianinstance, collection: { 'PJTKI' => 1, 'BNP2TKI' => 2, 'Lain-lain' => 3 } %>							
							<i></i>
							</label>							
							<div class="note"><strong>Note:</strong> Hanya diisi oleh WNI yang bekerja via skema G2G/EPS.</div>
						</section>
					</div>
				</fieldset>
				
				<fieldset>
					<legend style="float:left;margin-bottom:28px;">Disclaimer</legend>
					<p align="justify">
						Dengan melaporkan data - data di atas kepada KBRI anda telah menjamin dan memastikan bahwa informasi yang dikirimkan 
						adalah yang sebenar-benarnya. Kesalahan maupun ketidaksesuaian informasi adalah tanggung jawab pengisi sepenuhnya. 
						Kerahasiaan data pengisi akan kami jaga sebaik-baiknya dan akan dipergunakan untuk kepentingan yang sesuai.
						Jika terjadi perubahan data, harap segera hubungi staff KBRI Korea melalui kontak yang telah disediakan.
					</p>
				</fieldset>

				<fieldset>
					<section class="col col-6">
						<div class="note">
							Untuk memastikan anda adalah aplikan paspor yang sah, 
							silakan masukkan kode yang anda lihat ke kolom masukan.
						</div>					
						<label class="input">
							  <%= show_simple_captcha %>
						</label>
					</section>
				</fieldset>

				
				<footer>
					<button type="submit" class="button">Laporkan ke KBRI</button>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Kembali</button>
				</footer>
			<% end %>
			<!--/ Red color scheme -->			
</div>

<script type="text/javascript">
			$(function()
			{
				$('input[type=text]').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
				$('textarea').keyup(function() {
				    $(this).val($(this).val().toUpperCase());
				});
				// Regular datepicker
				$('.datePick').datepicker({
					dateFormat: 'yy/mm/dd',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>',
					changeMonth: true,
      				changeYear: true,
      				yearRange: '1900:2040'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
				
			});			
</script>