<!-- Red color scheme -->
	<% if controller_name == "visafamily"  %>
		<% @url_response = visafamilys_path %>
	<% elsif controller_name == "visagroup"  %>
		<% @url_response = visagroups_path %>
	<% end %>
	<%= simple_form_for :visa, url: @url_response, :method => :post, :html => { :class => "sky-form", :multipart => true } do |f| %>
			<header>
				<% if controller_name == "visafamily" then %>
					Additional Applicants' Visa Form as Family
				<% elsif controller_name == "visagroup" %>
					Additional Applicants' Visa Form as Group
				<% else %>
				    Indonesian Visa Application Form for Individual
				<% end %>
			</header>
				<fieldset>
					<div class="row">
						<section class="col col-4">
							<label class="label">Finish Application</label>
							  <%= link_to root_path do %>
							  <span class="glyphicon-glyphicon-adjust" style="font-size:1.5em;">
							    <span class="glyphicon glyphicon-home"></span>
							    Finish
							  </span>													
						      <% end %>
						      <span style="font-size:1.5em; margin-left: 0.2em;">or add more applicant</span>
						</section>
						<section class="col col-4">
							<label class="label">Purpose</label>
							<label class="select">
							<%= f.input_field :application_type, 
							collection: { 'New Visa Application' => 3, 'Extension of Re-Entry Permit' => 4}  %>
							<i></i>
							</label>
						</section>
						<section class="col col-4 newVisa specialFieldType no-show">
							<label class="label">Visa</label>
							<label class="select">
							<%= f.input_field :category_type, 
							collection: { 'Transit Visa' => 'transit', 'Visit Visa' => 'visit', 
								          'Limited Stay Visa' => 'limited-stay', 'Diplomatic Visa' => 'diplomatic', 
								          'Official Visa' => 'official' } %>
							<i></i>
							</label>
						</section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
						<section class="col col-10">
							<label class="label">Full Name</label>
							<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :full_name %>
							</label>
						</section>
						<section class="col col-2">
						  <label class="label">Sex</label>
						  <label class="select">
						  		<%= f.input_field :sex, 
								collection: { 'Male' => 'M', 'Female' => 'F' } %>
								<i></i>
						  </label>
						</section>
					</div>	
					
					<div class="row">
						<section class="col col-4">
							<label class="label">Scanned Passport</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :passport, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :passportpath, readonly: true %>
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Max Size: 2MB</div>
						</section>
						
						<section class="col col-4">
							<label class="label">Scanned ID Card</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :idcard, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :idcardpath, readonly: true %>
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Max Size: 2MB</div>
						</section>
						<section class="col col-4">
							<label class="label">Passport Portrait Picture</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :photo, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :photopath, readonly: true %>
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Max Size: 2MB</div>
						</section>	
					</div>
					
					<div class="row">	
						<section class="col col-6">
							<label class="label">Supporting Document</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :supdoc, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :sup_docpath, readonly: true %>
							</label>
							<div class="note">
								<strong>Note:</strong> 
								It could be company reference letter, sponsor letter, school admission letter, etc. 
								Max Size: 2MB</div>
						</section>
						
						<section class="col col-6">
							<label class="label">Return Trip Ticket</label>
							<label for="file" class="input input-file">
								<div class="button">
									<%= f.input_field :ticket, as: :file, class: 'fileplaceholder' %>Upload</div>
									<%= f.input_field :ticketpath, readonly: true %>
							</label>
							<div class="note"><strong>Note:</strong> Format : JPG/JPEG/PNG. Max Size: 2MB</div>
						</section>	
					</div>

					<div class="row">
						<section class="col col-6">
							<label class="label">Place of Birth</label>	
							<label class="input">
									<i class="icon-append icon-globe"></i>
									<%= f.input_field :placeBirth %>
							</label>
						</section>

						<section class="col col-3">
							<label class="label">Date of Birth</label>	
							<label class="input">
									<i class="icon-append icon-calendar"></i>
									<%= f.input_field :dateBirth, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
						</section>
						
						<section class="col col-3">
						  <label class="label">Marital Status</label>
						  <label class="select">
						  		<%= f.input_field :marital_status, 
								collection: { 'Married' => 'M', 'Single' => 'S' } %>
								<i></i>
						  </label>
						</section>
					</div>
					
					<div class="row">
						<section class="col col-6">
							<label class="label">Nationality</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :nationality %>
							</label>
						</section>
						
						<section class="col col-6">
							<label class="label">Profession</label>
							<label class="select">
							<%= f.input_field :profession, 
							collection: { 'Professional' => 'professional', 'Government' => 'government',
								          'Businessman' => 'businessman', 'Student' => 'student', 
								          'Housewife' => 'housewife', 'Others' => 'other' } %>
							<i></i>
							</label>
						</section>
				
					</div>
					
					<div class="row">
						<section class="col col-4">
							<label class="label">Passport No</label>
							<label class="input">
								<i class="icon-append icon-book"></i>
								<%= f.input_field :passport_no %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Place of Issue</label>
							<label class="input">
								<i class="icon-append icon-globe"></i>
								<%= f.input_field :passport_issued %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">Type of Passport</label>
							<label class="select">
							<%= f.input_field :passport_type, 
							collection: { 'Ordinary' => 1, 'Official' => 2,
								          'Diplomatic' => 3, 'Laissez-passez' => 4 } %>
							<i></i>
							</label>
						</section>
						
					</div>

					<div class="row">
					
						<section class="col col-6">
							<label class="label">Date of Issuance</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<%= f.input_field :passport_date_issued, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
						</section>
						
						<section class="col col-6">
							<label class="label">Date of Expiry</label>
							<label class="input">
								<i class="icon-append icon-calendar"></i>
							<%= f.input_field :passport_date_expired, class: 'datePick' %>
							</label>
							<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
						</section>
						
					</div>

				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
					  <section class="col col-4">
						<label class="label">Type of Sponsor</label>
						<label class="select">
							<%= f.input_field :sponsor_type_kr, 
							collection: { 'Individual' => 'individual', 'Government' => 'government',
								          'International Institution' => 'interinstitute', 'Company' => 'company',
								          'NGO' => 'ngo' , 'Others' => 'other'} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-8">
					  	<label class="label">Name of Reference in Korea</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :sponsor_name_kr %>
						</label>
					  </section>
				    </div>
					  	
					<div class="row">
					  <section class="col col-4">
					  	<label class="label">Reference's Address in Korea</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :sponsor_address_kr, as: :text, input_html: { row: 5 } %>
						</label>
					  </section>
					  <section class="col col-2">
					  	<label class="label">Phone No in Korea</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :sponsor_phone_kr %>
						</label>
					  </section>
					</div>
					
					<div class="row">
					  <section class="col col-2">
						<label class="label">Type of Sponsor</label>
						<label class="select">
							<%= f.input_field :sponsor_type_id, 
							collection: { 'Individual' => 'individual', 'Government' => 'government',
								          'International Institution' => 'interinstitute', 'Company' => 'company',
								          'NGO' => 'ngo', 'Others' => 'other'} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Name of Reference in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-user"></i>
								<%= f.input_field :sponsor_name_id %>
						</label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Reference's Address in Indonesia</label>
							<label class="textarea textarea-expandable">
							<i class="icon-append icon-road"></i>
							<%= f.input_field :sponsor_address_id, input_html: { row: 5 }, as: :text %>
						</label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Regency</label>
						<label class="select">
							<%= f.input_field :sponsor_address_kab_id, 
							collection: { 
							'AMBON (KODYA)'=>'ABN',
							'ACEH TIMUR'=>'ACA',
							'ACEH TENGGARA'=>'ACG',
							'ACEH TENGAH'=>'ACH',
							'ACEH SELATAN'=>'ACN',
							'ACEH BESAR'=>'ACR',
							'ACEH BARAT'=>'ACT',
							'ACEH UTARA'=>'ACU',
							'AGAM'=>'AGM',
							'ASAHAN'=>'AHN',
							'ALOR'=>'ALO',
							'ARGAMAKMUR'=>'ARG',
							'BANDA ACEH (KODYA)'=>'BAC',
							'BADUNG'=>'BAD',
							'BANGLI'=>'BAG',
							'BANTUL'=>'BAN',
							'BARRU'=>'BAR',
							'BUNGO TEBO'=>'BBO',
							'BANDUNG (KODYA)'=>'BDG',
							'BANDUNG'=>'BDK',
							'BANDARLAMPUNG'=>'BDL',
							'BONDOWOSO'=>'BDW',
							'BELU'=>'BEL',
							'BERAU'=>'BER',
							'BANGGAI'=>'BGG',
							'BOGOR'=>'BGK',
							'BULONGAN'=>'BGN',
							'BOLAANGMONGONDOW'=>'BGW',
							'BATANGHARI'=>'BHI',
							'BIMA (KODYA)'=>'BIM',
							'BINJAI'=>'BIN',
							'BITUNG'=>'BIT',
							'BATURAJA'=>'BJA',
							'BANJARNEGARA'=>'BJG',
							'BANJAR'=>'BJR',
							'BANGKA'=>'BKA',
							'BANGKINANG'=>'BKG',
							'BENGKULU (KODYA)'=>'BKL',
							'BANGKALAN'=>'BKN',
							'BENGKULU SELATAN'=>'BKS',
							'BUKITTINGGI'=>'BKT',
							'BENGKULU UTARA'=>'BKU',
							'BULUKUMBA'=>'BLB',
							'BLITAR'=>'BLI',
							'BLORA'=>'BLO',
							'BENGKALIS'=>'BLS',
							'BELITUNG'=>'BLT',
							'BIMA'=>'BMA',
							'BANJAR'=>'BNJ',
							'BONTANG'=>'BNT',
							'BOGOR (KODYA)'=>'BOG',
							'BOJONEGORO'=>'BOJ',
							'BARITOKUALA'=>'BOK',
							'BONE'=>'BON',
							'BARITO SELATAN'=>'BOS',
							'BARITO UTARA'=>'BOU',
							'BOYOLALI'=>'BOY',
							'BALIKPAPAN'=>'BPP',
							'BREBES'=>'BRE',
							'BEKASI (KODYA)'=>'BSI',
							'BEKASI'=>'BSK',
							'BANJARMASIN'=>'BSN',
							'BANTAENG'=>'BTG',
							'BUOL-TOLITOLI'=>'BTI',
							'BATAM'=>'BTM',
							'BATANG'=>'BTN',
							'BATU'=>'BTU',
							'BULELENG'=>'BUL',
							'BURU'=>'BUR',
							'BUTON'=>'BUT',
							'BANYUWANGI'=>'BYI',
							'BANYUMAS'=>'BYS',
							'CIREBON (KODYA)'=>'CBN',
							'CILACAP'=>'CCP',
							'CILEGON'=>'CIL',
							'CIREBON'=>'CIR',
							'CIANJUR'=>'CJR',
							'CIMAHI'=>'CMI',
							'CIAMIS'=>'CMS',
							'DAIRI'=>'DAI',
							'DEMAK'=>'DEM',
							'DEPOK'=>'DEP',
							'DONGGALA'=>'DGL',
							'DELISERDANG'=>'DLD',
							'DOMPU'=>'DOM',
							'DENPASAR (KODYA)'=>'DPS',
							'DUMAI'=>'DUM',
							'ENDE'=>'END',
							'ENREKANG'=>'ENR',
							'FAKFAK'=>'FAK',
							'FLORES TIMUR'=>'FLT',
							'GARUT'=>'GAR',
							'GUNUNGKIDUL'=>'GDL',
							'GIANYAR'=>'GIA',
							'GORONTALO'=>'GOR',
							'GOWA'=>'GOW',
							'GROBOGAN'=>'GRO',
							'HULU SUNGAI SELATAN'=>'HSS',
							'HULU SUNGAI TENGAH'=>'HST',
							'HULU SUNGAI UTARA'=>'HSU',
							'HALMAHERA TENGAH'=>'HTE',
							'INDRAGIRI HILIR'=>'IDI',
							'INDRAGIRI HULU'=>'IDU',
							'INDRAMAYU'=>'IDY',
							'JAMBI (KODYA)'=>'JAM',
							'JOMBANG'=>'JBG',
							'JEMBER'=>'JBR',
							'JEMBRANA'=>'JEM',
							'JEPARA'=>'JEP',
							'JAKARTA BARAT'=>'JKB',
							'JAKARTA PUSAT'=>'JKP',
							'JAKARTA SELATAN'=>'JKS',
							'JAKARTA TIMUR'=>'JKT',
							'JAKARTA UTARA'=>'JKU',
							'JENEPONTO'=>'JTO',
							'JAYAWIJAYA'=>'JYJ',
							'JAYAPURA (KODYA)'=>'JYP',
							'KALIANDA'=>'KAL',
							'KAMPAR'=>'KAM',
							'KAPUAS'=>'KAP',
							'KARO'=>'KAR',
							'KERINCI'=>'KCI',
							'KEDIRI'=>'KDI',
							'KENDAL'=>'KDL',
							'KENDARI'=>'KDR',
							'KUDUS'=>'KDS',
							'KEBUMEN'=>'KEB',
							'KENDARI'=>'KEN',
							'KEPULAUAN RIAU'=>'KER',
							'KISARAN'=>'KIS',
							'KLUNGKUNG'=>'KLK',
							'KULONPROGO'=>'KLO',
							'KLATEN'=>'KLT',
							'KOLAKA'=>'KOL',
							'KUPANG'=>'KPG',
							'KAPUS HULU'=>'KPU',
							'KARANGASEM'=>'KRS',
							'KOTA BARU'=>'KRU',
							'KARAWANG'=>'KRW',
							'KETAPANG'=>'KTP',
							'KUNINGAN'=>'KUN',
							'KUPANG (KODYA)'=>'KUP',
							'KUTAI'=>'KUT',
							'KOTAWARINGIN BARAT'=>'KWB',
							'KOTAWARINGIN TIMUR'=>'KWT',
							'KARANGANYAR'=>'KYR',
							'LANGSA'=>'LAG',
							'LAMONGAN'=>'LAM',
							'LAWU'=>'LAW',
							'LOMBOK BARAT'=>'LBB',
							'LOMBOK TENGAH'=>'LBH',
							'LEBAK'=>'LBK',
							'LOMBOK TIMUR'=>'LBR',
							'LABUHANBATU'=>'LBT',
							'LANGKAT'=>'LGT',
							'LHOKSEUMAWE (KODYA)'=>'LHO',
							'LAHAT'=>'LHT',
							'LUBUKLINGGAU'=>'LLG',
							'LAMPUNG BARAT'=>'LPB',
							'LIMAPULUH KOTA'=>'LPK',
							'LAMPUNG SELATAN'=>'LPS',
							'LAMPUNG TENGAH'=>'LPT',
							'LAMPUNG UTARA'=>'LPU',
							'LUMAJANG'=>'LUM',
							'MADIUN'=>'MAD',
							'MAGELANG'=>'MAG',
							'MALUKU TENGAH'=>'MAH',
							'MAJENE'=>'MAJ',
							'MAMUJU'=>'MAM',
							'MAROS'=>'MAR',
							'MATARAM'=>'MAT',
							'MALUKU UTARA'=>'MAU',
							'MUSIBANYUASIN'=>'MBA',
							'MUARABULIAN'=>'MBN',
							'MEDAN'=>'MDN',
							'MANADO'=>'MDO',
							'MENGGARAI'=>'MEN',
							'MERAUKE'=>'MER',
							'METRO'=>'MET',
							'MAGETAN'=>'MGT',
							'MINAHASA'=>'MHS',
							'MAJALENGKA'=>'MJK',
							'MOJOKERTO'=>'MJO',
							'MALUKU TENGGARA'=>'MKT',
							'MALANG'=>'MLG',
							'MUARAENIM'=>'MRM',
							'MUNA'=>'MUN',
							'MANOKWAN'=>'MWI',
							'MUSIRAWAS'=>'MWS',
							'NGADA'=>'NGA',
							'NGANJUK'=>'NGK',
							'NGAWI'=>'NGW',
							'NIAS'=>'NIA',
							'OGAN KOMERING ILIR'=>'OKI',
							'OGAN KOMERING ULU'=>'OKU',
							'PACITAN'=>'PAC',
							'PANIAI'=>'PAI',
							'PALU'=>'PAL',
							'PAMEKASAN'=>'PAM',
							'PANARUKAN'=>'PAN',
							'PARIAMAN'=>'PAR',
							'PASAMAN'=>'PAS',
							'PATI'=>'PAT',
							'PURBALINGGA'=>'PBA',
							'PADANG'=>'PDG',
							'PADANGPANJANG'=>'PDJ',
							'PANDANGPARIAMAN'=>'PDP',
							'PADANGSIDEMPUAN'=>'PDS',
							'PEMALANG'=>'PEM',
							'PANDEGELANG'=>'PGG',
							'PIDIE'=>'PID',
							'PINRANG'=>'PIN',
							'PANGKAJENE KEPULAUAN'=>'PJK',
							'PEKANBARU'=>'PKB',
							'PEKALONGAN'=>'PKL',
							'PANGKALPINANG'=>'PKP',
							'PALANGKARAYA'=>'PKY',
							'PALEMBANG'=>'PLG',
							'POLEWALI - MAMASA'=>'PMS',
							'PONOROGO'=>'PON',
							'POSO'=>'POS',
							'PALOPO'=>'PPO',
							'PRABUMULIH'=>'PRA',
							'PAREPARE'=>'PRE',
							'PROBOLINGGO'=>'PRO',
							'PASURUAN'=>'PSR',
							'PESISIR SELATAN'=>'PSS',
							'TAPANULI TENGAH'=>'PTH',
							'PONTIANAK'=>'PTK',
							'PEMATANGSIANTAR'=>'PTS',
							'PURWAKARTA'=>'PUR',
							'PURWOREJO'=>'PWJ',
							'PURWOKERTO'=>'PWK',
							'PAYAKUMBUH'=>'PYK',
							'REMBANG'=>'REM',
							'REJANGLEBONG'=>'RJL',
							'RANTAUPRAPAT'=>'RTP',
							'SABANG'=>'SAB',
							'SALATIGA'=>'SAL',
							'SAWAHLUNTO'=>'SAW',
							'SAMBAS'=>'SBS',
							'SUMBAWA'=>'SBW',
							'SURABAYA'=>'SBY',
							'SUMEDANG'=>'SDG',
							'SELAYAR'=>'SEL',
							'SERANG'=>'SER',
							'SIDENRENG - RAPPANG'=>'SGR',
							'SANGGAU'=>'SGU',
							'SIBOLGA'=>'SIB',
							'SIKKA'=>'SIK',
							'SIMALUNGUN'=>'SIM',
							'SINTANG'=>'SIN',
							'SINJAI'=>'SJI',
							'SIDOARJO'=>'SJO',
							'SUKOHARJO'=>'SKJ',
							'SLEMAN'=>'SLE',
							'SAROLANGUN'=>'SLN',
							'SEMARANG'=>'SMG',
							'SUMENEP'=>'SMN',
							'SAMARINDA'=>'SMR',
							'SOLOK'=>'SOK',
							'SURAKARTA'=>'SOL',
							'SOPPENG'=>'SOP',
							'SORONG'=>'SOR',
							'SAMPANG'=>'SPG',
							'SRAGEN'=>'SRA',
							'SANGIR-TALAUD'=>'STD',
							'SUBANG'=>'SUB',
							'SUKABUMI'=>'SUK',
							'SUMBA BARAT'=>'SUM',
							'SUMBA TIMUR'=>'SUT',
							'SAWAH LUNTO'=>'SWL',
							'TABALONG'=>'TAB',
							'TAKALAR'=>'TAK',
							'TANATORAJA'=>'TAN',
							'TAPIN'=>'TAP',
							'TASIKMALAYA'=>'TAS',
							'TANJUNGBALAI ASAHAN'=>'TBA',
							'TABANAN'=>'TBN',
							'TEBINGTINGGI'=>'TBT',
							'TEGAL'=>'TGL',
							'TANAH DATAR'=>'THD',
							'TANAHLAUT'=>'THL',
							'TANAHPASIR'=>'THP',
							'TANJUNGJABUNG'=>'TJJ',
							'TANJUNGPINANG'=>'TJP',
							'TELUK CENDRAWASIH'=>'TKC',
							'TULUNGAGUNG'=>'TLA',
							'TRENGGELEK'=>'TLK',
							'TEMANGGUNG'=>'TMG',
							'TANGERANG'=>'TNG',
							'TERNATE'=>'TNT',
							'TAPANULI SELATAN'=>'TPN',
							'TAPANULI UTARA'=>'TPU',
							'TARAKAN'=>'TRK',
							'TASIKMALAYA (KODYA)'=>'TSK',
							'TIMOR TENGAH SELATAN'=>'TTS',
							'TIMOR TENGAH UTARA'=>'TTU',
							'TUBAN'=>'TUB',
							'UJUNGPANDANG'=>'UJP',
							'WAJO'=>'WAJ',
							'WATAMPONE'=>'WAT',
							'WONOGIRI'=>'WGR',
							'WONOSOBO'=>'WSB',
							'YAPENWAROPEN'=>'YAP',
							'YOGYAKARTA (KODYA)'=>'YOG'
							} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Province</label>
						<label class="select">
							<%= f.input_field :sponsor_address_prov_id, 
							collection: { 
							'DI ACEH'=>'BA',
							'BANGKA BELITUNG'=>'BB',
							'JAMBI'=>'BI',
							'BENGKULU'=>'BK',
							'BALI'=>'BL',
							'BANTEN'=>'BT',
							'GORONTALO'=>'GT',
							'IRIAN JAYA'=>'IJ',
							'JAWA BARAT'=>'JB',
							'JAWA TENGAH'=>'JH',
							'DKI JAKARTA'=>'JK',
							'JAWA TIMUR'=>'JT',
							'KALIMANTAN BARAT'=>'KB',
							'KALIMANTAN TENGAH'=>'KH',
							'KALIMANTAN SELATAN'=>'KS',
							'KALIMANTAN TIMUR'=>'KT',
							'LAMPUNG'=>'LP',
							'MALUKU'=>'ML',
							'MALUKU UTARA'=>'MU',
							'RIAU'=>'RI',
							'SUMATERA BARAT'=>'SB',
							'SUMATERA SELATAN'=>'SS',
							'SUMATERA UTARA'=>'SU',
							'NTB'=>'TB',
							'NTT'=>'TT',
							'SULAWESI TENGGARA'=>'WR',
							'SULAWESI SELATAN'=>'WS',
							'SULAWESI TENGAH'=>'WT',
							'SULAWESI UTARA'=>'WU',
							'D.I. YOGYAKARTA'=>'YO'
							} %>
							<i></i>
					    </label>
					  </section>
					  
					  <section class="col col-2">
					  	<label class="label">Phone No in Indonesia</label>
						<label class="input">
								<i class="icon-append icon-phone"></i>
								<%= f.input_field :sponsor_phone_id %>
						</label>
					  </section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<div class="row">
						<section class="col col-4">
							<label class="label">Duration of Stays</label>	
							<label class="input">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :duration_stays %>
							</label>
						</section>
						
						<section class="col col-4">
							<label class="label">In</label>	
							<label class="select">
								<i class="icon-append icon-calendar"></i>
								<%= f.input_field :duration_stays_unit, 
								collection: { 'Days' => 1, 'Months' => 2, 'Years' => 3 } %>
								<i></i>
							</label>
						</section>

						<section class="col col-4">
							<label class="label">Visa Type</label>
							<label class="select">
							<%= f.input_field :num_entry, 
							collection: { 'Single Entry' => 'S', 'Multiple Entry' => 'M' } %>
							<i></i>
							</label>
							<div class="note">The decision is <strong>Subject</strong> to The Embassy of Indonesia's discretion.</div>
						</section>
					</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
				<div class="row">
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">Other Information (Tick each item if you want to say: "Yes".)</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_1]"><i></i>Have you ever been to Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_2]"><i></i>Have you ever been convicted in other country?</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_3]"><i></i>Are you in posession of any other country?</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_4]"><i></i>Do you have previous visa to enter Indonesia?</label>
					</div>
					</section>
					<section class="col col-6">
					<div class="inline-group">
					<label class="label">&nbsp;</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_5]"><i></i>Has your visa application been refused before?</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_6]"><i></i>Have you ever been deported from Indonesia before?</label>
					<label class="checkbox"><input type="checkbox" name="visa[checkbox_7]"><i></i>Have you ever committed crime or any offense?</label>
					</div>
					</section>
				</div>
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<section><p style="text-align: right; font-weight: bold;">Seoul, <%= Date.current.strftime("%A, %v") %></p></section>
				</fieldset>
				
				<fieldset id="transit" class="specialFieldCat no-show">
				<div class="row">
				  <section class="col col-3">
					<label class="label">Country of Destination</label>
					<label class="input">
						<i class="icon-append icon-globe"></i>
						<%= f.input_field :tr_count_dest %>
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :tr_flight_vessel %>
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<%= f.input_field :tr_air_sea_port %>
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :tr_date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
				  </section>
				</div>  
				</fieldset>
				
				<fieldset id="limited-stay" class="specialFieldCat no-show">
			      <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Limited Stay</label>
					<label class="select">
						<%= f.input_field :lim_s_purpose, 
						collection: { 'Work' => 'work', 'Joint Family' => 'family',
								      'Social' => 'social', 'Others' => 'other'} %>
							<i></i>
					</label>
					<div class="note">Please bring supporting <strong>Documents</strong> (if any) during interview session.</div>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :lim_s_flight_vessel %>
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<%= f.input_field :lim_s_air_sea_port %>
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :lim_s_date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
				  </section>
				</div>
				  
				</fieldset>
				
				<fieldset id="visit" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
						<%= f.input_field :v_purpose, 
						collection: { 'Tourism' => 'tourism', 'Study' => 'study',
								      'Convention' => 'convention', 'Arts' => 'art',
								      'Family Visit' => 'family-visit', 'Commercial' => 'commercial',
								      'Sports' => 'sport', 'Others' => 'other'} %>
							<i></i>
					</label>
					<div class="note">Please bring supporting <strong>Documents</strong> (if any) during interview session.</div>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :v_flight_vessel %>
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<%= f.input_field :v_air_sea_port %>
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :v_date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
				  </section>
				</div>
				  
				</fieldset>
				
				<fieldset id="diplomatic" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
						<%= f.input_field :dip_purpose, 
						collection: { 'Posting' => 'posting', 'Training' => 'training',
								      'Joint Family' => 'family', 'Others' => 'other' } %>
							<i></i>
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :dip_flight_vessel %>
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<%= f.input_field :dip_air_sea_port %>
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :dip_date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
				  </section>
				</div>
				
				</fieldset>
				
				<fieldset id="official" class="specialFieldCat no-show">
				  <div class="row">
				  <section class="col col-3">
					<label class="label">Purpose of Visit</label>
					<label class="select">
						<%= f.input_field :o_purpose, 
						collection: { 'Posting' => 'posting', 'Training' => 'training',
								      'Joint Family' => 'family', 'Others' => 'other' } %>
							<i></i>
					</label>
				  </section>
				  
				  <section class="col col-2">
				    <label class="label">Flight/Vessel Name</label>
					<label class="input">
						<i class="icon-append icon-plane"></i>
						<%= f.input_field :o_flight_vessel %>
					</label>
				  </section>
				  
				  <section class="col col-4">
					<label class="label">Airport/Seaport Destination</label>
					<label class="input">
						<i class="icon-append icon-anchor"></i>
						<%= f.input_field :o_air_sea_port %>
					</label>
				  </section>
				  
				  <section class="col col-3">
					<label class="label">Date of Entry to Indonesia</label>
					<label class="input">
						<i class="icon-append icon-calendar"></i>
						<%= f.input_field :o_date_entry, class: 'datePick' %>
					</label>
					<div class="note"><strong>Note:</strong> Format is DD.MM.YYYY. Example, type '02.03.2014' (without single quote) for 02 March 2014.</div>
				  </section>
				</div>
								  
				</fieldset>
				
				<fieldset class="newVisa specialFieldType no-show">
					<section class="col col-9">
					I hereby declare that statements given above are true and I understand that even if granted a visa, 
					the admission at the airport remains fully the discretion of the immigration authorities in Indonesia.
					</section>
					
					<section class="col col-3">
					<pre>(Signature & Full Name)</pre>
					</section>				
				</fieldset>
				<%= render 'forms/visareentry' %>
				<footer>
					<% if controller_name == "visafamily"  %>
						<%= f.input_field :ref_id, type: 'hidden', value: @ref_id %>
					<% elsif controller_name == "visagroup"  %>
						<%= f.input_field :ref_id, type: 'hidden', value: @ref_id %>	
					<% end %>
				
					<% if controller_name == "visafamily" or controller_name == "visagroup"  %>
						<button type="submit" class="button">Create & Add More Applicant(s)</button>
					<% else %>
						<%= link_to 'Go to User Panel', root_path %>
					<% end %>
					<button type="button" class="button button-secondary" onclick="window.history.back();">Back</button>
				</footer>
			<% end %>
<!--/ Red color scheme -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript">
	$(function()
		{
				$( ".no-show" ).css("display", "none");
									//console.log();
									
				// Adjusting suitable form
				$( "#visa_application_type" ).change(function() {
  					var str = "";
    				str = $( "#visa_application_type option:selected" ).val();
    				if(str == 3){
    					var aClass = ".newVisa";
    				}else if(str == 4){
    					var aClass = ".reEntry";
    				}
    				$( ".specialFieldType" ).addClass("no-show").css("display", "none");
					$( aClass ).removeClass("no-show").css("display","block");
				});
				
				$( "#visa_category_type" ).change(function() {
  					var str = "";
    				str = $( "#visa_category_type option:selected" ).val();
    				var id = "#"+str;
    				$( ".specialFieldCat" ).addClass("no-show").css("display", "none");
					if(id != "none") {
						$( id ).removeClass("no-show").css("display","block");
					}
				});
				
				// Regular datepicker
				$( '.datePick' ).datepicker({
					dateFormat: 'dd.mm.yy',
					prevText: '<i class="icon-chevron-left"></i>',
					nextText: '<i class="icon-chevron-right"></i>'
				});
				
				$('.fileplaceholder').change(function(){					
					filename = $(this).val();
					$(this).parent().next().val(filename.split("\\").pop());
				});
								
				//console.log();
				
		});			
</script>
