<div class="navbar-header">
  <%= link_to "E-KBRI Seoul", root_path, :class => 'navbar-brand' %>
</div>

<div class="collapse navbar-collapse">

<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
  <li><p class="navbar-text" href="#"> Selamat Datang, <%= "#{current_user.full_name}" %>.</p></li>
<% end %>
<% if user_signed_in? %>
    <li><%= link_to '(Logout)', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <% #Do something else %>
<% end %>
</ul>

<ul class="nav navbar-nav">  
  <% if user_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Visa<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Visa Requirements', '#' %></li>	
      <li><%= link_to 'Visa/Extension of Re-Entry Permit', visas_path %></li>      

    </ul>
  </li>
  <li class="dropdown">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Paspor & Lapor Diri<b class="caret"></b></a>
  	<ul class="dropdown-menu">
  	  <li><%= link_to 'Persyaratan mengenai Paspor/SPLP', '#' %></li>      
      <li><%= link_to 'Pembuatan/Perpanjang Paspor/SPLP', passports_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Lapor Diri kepada KBRI Seoul', reports_path %></li>
    </ul>
  </li>
  
  <% else %>
  <li><%= link_to 'Daftar', new_user_registration_path %></li>
  <% end %>
  
  <% if user_signed_in? %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pengaturan <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li><%= link_to 'Pengaturan Profil Pribadi', edit_user_registration_path %></li>
        <% if current_user.has_role? :admin %>
      	   <li><%= link_to 'Aturcara & Pengelolaan Pengguna E-KBRI', users_path %></li>
      	   <li><%= link_to 'Statistik & Laporan via Sistem Panel E-KBRI', dashboard_path %></li>
   	    <% end %>
    </ul>
  </li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>
  
</ul>
</div>