<div class="sticky-container">
		<ul class="sticky">
			<li>
			<%= link_to root_path do %>
					<%= image_tag("/assets/images/tm1.png", height: '32', width: '32') %>
					<p>Visa</p>
				<% end %>
			</li>
			<li>
			<%= link_to root_path do %>
					<%= image_tag("/assets/images/wp1.png", height: '32', width: '32') %>
					<p>Paspor</p>
				<% end %>
			</li>
			<li>
			<%= link_to root_path do %>
					<%= image_tag("/assets/images/vm1.png", height: '32', width: '32') %>
					<p>SPLP</p>
				<% end %>
			</li>
			<li>
			<%= link_to root_path do %>
					<%= image_tag("/assets/images/fb1.png", height: '32', width: '32') %>
					<p>Lapor Diri</p>
				<% end %>
			</li>
			<li>
			<%= link_to root_path do %>
					<%= image_tag("/assets/images/pin1.png", height: '32', width: '32') %>
					<p>Dokumen</p>
				<% end %>
			</li>
		</ul>
</div>